In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/have_mountain.csv',low_memory=False)

In [3]:
df

,locate,StationCode,StationNmae,ObservDay_time,StnPres,SeaPres,Temperature,T Max,T Min,Td dew point,RH,RHMin,WS,WD,WSGust,WDGust,Precp,PrecpHour,SunShine,SunShineRate,GloblRad,VisbMean,UVI Max,Cloud Amount,ty_code,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
0,Changhua,467270,田中,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
1,Changhua,467270,田中,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
2,Changhua,467270,田中,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
3,Changhua,467270,田中,2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
4,Changhua,467270,田中,2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617789,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617790,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617791,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617792,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617793,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0

In [23]:
df.columns

Index(['locate', 'StationCode', 'StationNmae', 'ObservDay_time', 'StnPres',
       'SeaPres', 'Temperature', 'T Max', 'T Min', 'Td dew point', 'RH',
       'RHMin', 'WS', 'WD', 'WSGust', 'WDGust', 'Precp', 'PrecpHour',
       'SunShine', 'SunShineRate', 'GloblRad', 'VisbMean', 'UVI Max',
       'Cloud Amount', 'ty_code', 'ty_generate', 'sea_warning', 'land_warning',
       'ty_strength', 'ty_path', 'festival_count', 'festival', 'altitude'],
      dtype='object')

In [22]:
ma=df['locate']=='Changhua'
ma1=df['ObservDay_time']=='2020-03-01'
df[ma&ma1]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,SeaPres,Temperature,T Max,T Min,Td dew point,RH,RHMin,WS,WD,WSGust,WDGust,Precp,PrecpHour,SunShine,SunShineRate,GloblRad,VisbMean,UVI Max,Cloud Amount,ty_code,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
7365,Changhua,467270,田中,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
15126,Changhua,C0G620,芬園,2020-03-01,1001.1,NaN,22.7,30.8,18.1,NaN,83.0,48.0,1.4,161.0,7.5,324.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,110.0
22887,Changhua,C0G640,鹿港,2020-03-01,1014.7,NaN,21.9,27.5,19.0,NaN,86.0,65.0,1.6,334.0,7.1,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,17.0
30648,Changhua,C0G650,員林,2020-03-01,1010.1,NaN,23.4,29.6,19.3,NaN,86.0,53.0,0.9,3.0,7.0,318.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,34.0
38409,Changhua,C0G660,溪湖,2020-03-01,1012.7,NaN,22.7,28.9,18.9,NaN,84.0,59.0,2.0,114.0,7.0,333.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,27.0
46170,Changhua,C0G720,溪州,2020-03-01,1008.1,NaN,22.6,27.8,19.1,NaN,81.0,58.0,1.9,105.0,7.9,345.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,50.0
53931,Changhua,C0G730,二林,2020-03-01,1012.1,NaN,21.9,26.3,18.9,NaN,88.0,65.0,2.3,8.0,8.8,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,27.0
61692,Changhua,C0G740,大城,2020-03-01,1011.8,NaN,22.5,26.3,19.8,NaN,82.0,67.0,1.9,91.0,7.5,356.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,24.0
69453,Changhua,C0G750,竹塘,2020-03-01,1011.7,NaN,22.4,27.2,19.4,NaN,82.0,62.0,1.7,338.0,6.8,320.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,31.0
77214,Changhua,C0G760,高鐵彰化,2020-03-01,1010.6,NaN,22.7,28.7,19.0,NaN,90.0,57.0,1.3,67.0,6.3,292.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,53.0
84975,Changhua,C0G770,福興,2020-03-01,1012.5,NaN,23.3,27.7,20.2,NaN,81.0,64.0,1.2,1.0,5.9,14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
92736,Changhua,C0G780,秀水,2020-03-01,1011.1,NaN,22.7,27.3,19.6,NaN,82.0,57.0,1.7,8.0,7.4,306.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,27.0
100497,Changhua,C0G800,埔鹽,2020-03-01,1012.5,NaN,22.2,27.2,19.1,NaN,92.0,66.0,2.1,4.0,11.5,36.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
108258,Changhua,C0G810,埔心,2020-03-01,1011.1,NaN,23.3,28.4,19.9,NaN,80.0,59.0,1.4,118.0,5.7,322.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,26.0
116019,Changhua,C0G820,田尾,2020-03-01,1011.2,NaN,23.0,28.9,19.2,NaN,83.0,61.0,0.5,4.0,6.2,277.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,29.0
123780,Changhua,C0G830,埤頭,2020-03-01,1009.8,NaN,22.4,27.8,5.4,NaN,92.0,50.0,2.2,357.0,8.4,310.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,27.0
131541,Changhua,C0G840,北斗,2020-03-01,1010.1,NaN,22.6,29.1,18.8,NaN,87.0,59.0,1.2,6.0,5.8,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,32.0
139302,Changhua,C0G860,社頭,2020-03-01,1008.1,NaN,23.6,29.0,19.9,NaN,77.0,47.0,1.5,318.0,7.3,338.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,45.0
147063,Changhua,C0G870,芳苑,2020-03-01,1013.9,NaN,22.1,27.2,19.2,NaN,81.0,63.0,1.8,15.0,7.7,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,12.0
154824,Changhua,C0G880,二水,2020-03-01,1003.5,NaN,22.8,28.8,19.4,NaN,78.0,53.0,1.3,325.0,5.9,333.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,92.0
162585,Changhua,C0G890,伸港,2020-03-01,1011.3,NaN,22.3,25.7,19.1,NaN,95.0,73.0,2.4,9.0,10.8,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,24.0
170346,Changhua,C0G900,線西,2020-03-01,1011.1,NaN,22.5,26.0,19.7,NaN,87.0,72.0,2.7,22.0,10.9,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,20.0
178107,Changhua,C0G910,花壇,2020-03-01,1010.3,NaN,22.9,26.9,19.4,NaN,82.0,62.0,2.6,1.0,9.0,288.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,42.0
185868,Changhua,C1G691,下水埔,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,110.0

In [4]:
test=df[df['altitude']>500]
test
test['altitude'].unique()

array([2413.4, 1385. , 1354. ,  980. ,  695. ,  578. , 1090. ,  840. ,
        986. , 1083. , 1252. , 1567. ,  523. , 1956. ,  839. , 1290. ,
       1279. ,  718. , 2830. ,  550. ,  558. ,  605. ,  725. ,  824. ,
        589. , 1124. ,  946. ,  646. , 1260. , 2049. ,  675. ,  539. ,
       1050. , 1306. ,  680. ,  950. , 1163. ,  734. , 1040. , 3690. ,
       2700. ,  870. , 1781. ,  731. , 1637. , 1656. ,  741. , 1561. ,
        850. ,  507. , 1325. ,  576. , 1209. ,  977. ,  786. ,  737. ,
        990. , 1409. , 3844.8, 1017.5, 3076. , 1595. , 3402. , 1562. ,
        536. ,  910. ,  671. , 1184. , 2165. , 1601. , 3860. , 3014. ,
       3344. , 2454. , 1840. ,  934. ,  736. ,  630. , 1710. , 1120. ,
        948. , 2568. ,  825. , 1810. , 1515. , 1700. ,  677. ,  529. ,
       1098. ,  837. ,  732. ,  601. , 1151. , 1033. , 1275. , 1266. ,
        897. , 1399. , 2415. , 2540. , 3025. , 1680. , 2017. , 1208. ,
        685. ,  755. ,  660. ,  527. , 1006. ,  740. , 1654. ,  766. ,
        551. ,  588. ,  820. , 1828. , 3587. ,  983. , 3171. , 3557. ,
       2215. ,  525. , 3313. , 3193. , 1000. , 2205. , 2620. ,  610. ,
        639. ,  563. ,  810. ,  723. , 1970. , 1249. ,  837.6,  607.1,
       1079. ,  794. ,  522. , 2280. , 1621. ,  903. ,  857. , 1580. ,
        516. , 1235. ,  517. , 1942. , 1012. , 1885. ,  573. , 1711. ,
       2619. , 1397. , 1121. ,  808. ,  566. ,  547. ,  618. ,  750. ,
        665. , 2085. , 1132. ])

In [11]:
len(df['ObservDay_time'].unique())

7761

In [12]:
df.isnull().sum()

locate                  0
StationCode             0
StationNmae             0
ObservDay_time          0
StnPres           3176636
SeaPres           4422490
Temperature       3033230
T Max             3233049
T Min             3233054
Td dew point      4422181
RH                3470266
RHMin             3467923
WS                3036809
WD                3031703
WSGust            3233184
WDGust            3233197
Precp             2218429
PrecpHour         4424266
SunShine          4245347
SunShineRate      4422466
GloblRad          4423813
VisbMean          4437809
UVI Max           4505323
Cloud Amount      4439088
ty_code           4472617
ty_generate             0
sea_warning             0
land_warning            0
ty_strength             0
ty_path                 0
festival_count          0
festival                0
altitude                0
dtype: int64

In [13]:
df1=df.drop(columns=['ty_code'])
df1

,locate,StationCode,StationNmae,ObservDay_time,StnPres,SeaPres,Temperature,T Max,T Min,Td dew point,RH,RHMin,WS,WD,WSGust,WDGust,Precp,PrecpHour,SunShine,SunShineRate,GloblRad,VisbMean,UVI Max,Cloud Amount,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
0,Changhua,467270,田中,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
1,Changhua,467270,田中,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
2,Changhua,467270,田中,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
3,Changhua,467270,田中,2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
4,Changhua,467270,田中,2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617789,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617790,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617791,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617792,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617793,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0

In [14]:
df1.isnull().sum()

locate                  0
StationCode             0
StationNmae             0
ObservDay_time          0
StnPres           3176636
SeaPres           4422490
Temperature       3033230
T Max             3233049
T Min             3233054
Td dew point      4422181
RH                3470266
RHMin             3467923
WS                3036809
WD                3031703
WSGust            3233184
WDGust            3233197
Precp             2218429
PrecpHour         4424266
SunShine          4245347
SunShineRate      4422466
GloblRad          4423813
VisbMean          4437809
UVI Max           4505323
Cloud Amount      4439088
ty_generate             0
sea_warning             0
land_warning            0
ty_strength             0
ty_path                 0
festival_count          0
festival                0
altitude                0
dtype: int64

In [15]:
df2=df1.dropna(thresh=13)
df2

,locate,StationCode,StationNmae,ObservDay_time,StnPres,SeaPres,Temperature,T Max,T Min,Td dew point,RH,RHMin,WS,WD,WSGust,WDGust,Precp,PrecpHour,SunShine,SunShineRate,GloblRad,VisbMean,UVI Max,Cloud Amount,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
7404,Changhua,467270,田中,2020-04-09,1011.1,1017.0,22.1,29.2,18.2,17.1,77.0,41.0,2.1,330.0,9.4,340.0,0.0,0.0,6.1,40.8,13.84,NaN,9.0,NaN,0,0,0,0,0,0,無,48.6
7405,Changhua,467270,田中,2020-04-10,1012.4,1017.4,23.7,31.9,17.1,18.1,75.0,41.0,1.3,310.0,7.1,190.0,0.0,0.0,9.3,74.2,21.70,11.3,9.0,2.0,0,0,0,0,0,0,無,48.6
7406,Changhua,467270,田中,2020-04-11,1009.9,1014.9,22.4,29.6,18.4,19.0,83.0,48.0,1.5,340.0,9.3,320.0,0.6,1.6,2.6,20.7,10.64,8.8,4.0,6.3,0,0,0,0,0,0,無,48.6
7407,Changhua,467270,田中,2020-04-12,1010.4,1015.5,18.8,23.2,11.7,13.0,71.0,48.0,3.4,360.0,13.9,10.0,4.5,3.5,8.4,66.8,23.01,18.8,11.0,6.0,0,0,0,0,0,0,無,48.6
7408,Changhua,467270,田中,2020-04-13,1012.7,1018.4,17.7,25.3,9.3,5.7,50.0,19.0,2.8,340.0,13.6,330.0,0.0,0.0,11.9,94.4,27.00,20.0,11.0,0.0,0,0,0,0,0,0,無,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617789,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617790,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617791,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617792,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0
4617793,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,無,15.0

In [16]:
df2.isnull().sum()/2412414

locate            0.000000
StationCode       0.000000
StationNmae       0.000000
ObservDay_time    0.000000
StnPres           0.402608
SeaPres           0.919042
Temperature       0.343162
T Max             0.425992
T Min             0.425994
Td dew point      0.918914
RH                0.524324
RHMin             0.523353
WS                0.344646
WD                0.342530
WSGust            0.426048
WDGust            0.426053
Precp             0.005409
PrecpHour         0.919778
SunShine          0.845612
SunShineRate      0.919032
GloblRad          0.919591
VisbMean          0.925392
UVI Max           0.953378
Cloud Amount      0.925922
ty_generate       0.000000
sea_warning       0.000000
land_warning      0.000000
ty_strength       0.000000
ty_path           0.000000
festival_count    0.000000
festival          0.000000
altitude          0.000000
dtype: float64

In [17]:
df3=df2.drop(columns=['Cloud Amount','UVI Max','VisbMean','GloblRad','SunShineRate','SunShine','PrecpHour','Td dew point','SeaPres'])
df3

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,T Max,T Min,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
7404,Changhua,467270,田中,2020-04-09,1011.1,22.1,29.2,18.2,77.0,41.0,2.1,330.0,9.4,340.0,0.0,0,0,0,0,0,0,無,48.6
7405,Changhua,467270,田中,2020-04-10,1012.4,23.7,31.9,17.1,75.0,41.0,1.3,310.0,7.1,190.0,0.0,0,0,0,0,0,0,無,48.6
7406,Changhua,467270,田中,2020-04-11,1009.9,22.4,29.6,18.4,83.0,48.0,1.5,340.0,9.3,320.0,0.6,0,0,0,0,0,0,無,48.6
7407,Changhua,467270,田中,2020-04-12,1010.4,18.8,23.2,11.7,71.0,48.0,3.4,360.0,13.9,10.0,4.5,0,0,0,0,0,0,無,48.6
7408,Changhua,467270,田中,2020-04-13,1012.7,17.7,25.3,9.3,50.0,19.0,2.8,340.0,13.6,330.0,0.0,0,0,0,0,0,0,無,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617789,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617790,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617791,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617792,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617793,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0

In [18]:
df3.isnull().sum()/2412414

locate            0.000000
StationCode       0.000000
StationNmae       0.000000
ObservDay_time    0.000000
StnPres           0.402608
Temperature       0.343162
T Max             0.425992
T Min             0.425994
RH                0.524324
RHMin             0.523353
WS                0.344646
WD                0.342530
WSGust            0.426048
WDGust            0.426053
Precp             0.005409
ty_generate       0.000000
sea_warning       0.000000
land_warning      0.000000
ty_strength       0.000000
ty_path           0.000000
festival_count    0.000000
festival          0.000000
altitude          0.000000
dtype: float64

In [19]:
df3.describe().astype(int)

,StnPres,Temperature,T Max,T Min,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,festival_count,altitude
count,1441158,1584564,1384745,1384740,1147528,1149871,1580985,1586091,1384610,1384597,2399365,2412414,2412414,2412414,2412414,2412414,2412414
mean,979,21,26,18,81,61,1,135,8,177,6,0,0,0,0,0,500
std,61,5,6,5,10,15,1,116,4,118,24,0,0,0,0,0,708
min,-1,-11,-9,-40,0,-629,0,0,0,0,0,0,0,0,0,0,2
25%,978,18,22,15,75,53,0,30,5,57,0,0,0,0,0,0,39
50%,1001,22,27,19,81,61,1,99,7,186,0,0,0,0,0,0,190
75%,1009,26,31,23,88,71,2,240,9,289,2,1,0,0,0,0,718
max,1061,60,60,94,100,105,33,360,99,999,1402,1,1,1,3,1,3860

In [20]:
ma=df3['Temperature']>40
test=df3[ma]
test

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,T Max,T Min,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
2187721,New_TaipeiCity,C0A550,泰平,2018-11-01,818.2,60.0,NaN,NaN,100.0,NaN,0.0,0.0,NaN,NaN,0.0,1,0,0,0,0,0,無,422.0

In [21]:
df3.iloc[:,5][ma]=np.nan

<ipython-input-21-52d6187f70fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.iloc[:,5][ma]=np.nan

In [22]:
ma=df3['Temperature']>40
df3[ma]

Empty DataFrame
Columns: [locate, StationCode, StationNmae, ObservDay_time, StnPres, Temperature, T Max, T Min, RH, RHMin, WS, WD, WSGust, WDGust, Precp, ty_generate, sea_warning, land_warning, ty_strength, ty_path, festival_count, festival, altitude]
Index: []

In [28]:
ma=df3['T Max']<df3['T Min']
df3[ma]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,T Max,T Min,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
1427052,Keelung,466950,彭佳嶼,2018-08-02,991.3,27.7,25.9,29.9,82.0,74.0,NaN,NaN,NaN,NaN,25.2,1,0,0,0,0,0,無,101.7
3769139,Taitung,C0S760,紅石,2013-11-03,NaN,16.2,16.2,84.8,NaN,NaN,0.6,171.0,0.1,313.0,12.5,1,0,0,0,0,0,無,1621.0
3769140,Taitung,C0S760,紅石,2013-11-04,NaN,14.9,15.0,94.4,NaN,NaN,0.8,345.0,0.2,8.0,1.5,1,0,0,0,0,0,無,1621.0

In [36]:
df3.iloc[:,6][ma]=np.nan
df3.iloc[:,7][ma]=np.nan

<ipython-input-36-a596199b41a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.iloc[:,6][ma]=np.nan
<ipython-input-36-a596199b41a9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.iloc[:,7][ma]=np.nan

In [37]:
df3[df3['T Max']<df3['T Min']]

Empty DataFrame
Columns: [locate, StationCode, StationNmae, ObservDay_time, StnPres, Temperature, T Max, T Min, RH, RHMin, WS, WD, WSGust, WDGust, Precp, ty_generate, sea_warning, land_warning, ty_strength, ty_path, festival_count, festival, altitude]
Index: []

In [25]:
# ma2=df3['locate']=='Taitung'
# ma3=df3['ObservDay_time']=='2013-11-03'
# test=df3[ma2&ma3]
# test
# test2=test[test['T Min']<60]
# test2
# test2['T Min'].mean()

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,T Max,T Min,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
3683768,Taitung,467540,大武,2013-11-03,1013.9,24.4,26.5,23.1,91.0,82.0,1.7,270.0,7.4,10.0,42.5,1,0,0,0,0,0,無,8.1
3691529,Taitung,467610,成功,2013-11-03,1010.4,24.3,27.4,22.7,90.0,83.0,1.6,330.0,9.6,10.0,9.5,1,0,0,0,0,0,無,33.5
3699290,Taitung,467620,蘭嶼,2013-11-03,977.9,23.7,25.3,22.5,96.0,89.0,4.6,360.0,11.6,10.0,23.1,1,0,0,0,0,0,無,324.0
3707051,Taitung,467660,臺東,2013-11-03,1014.2,24.9,27.1,23.6,85.0,80.0,0.9,340.0,5.9,350.0,16.1,1,0,0,0,0,0,無,9.0
3722573,Taitung,C0S690,太麻里,2013-11-03,956.0,21.5,22.6,20.3,NaN,NaN,0.2,24.0,3.9,22.0,25.5,1,0,0,0,0,0,無,522.0
3730334,Taitung,C0S700,知本,2013-11-03,959.9,21.5,24.2,20.3,NaN,NaN,0.5,56.0,3.0,239.0,20.5,1,0,0,0,0,0,無,507.0
3738095,Taitung,C0S710,鹿野,2013-11-03,973.4,21.7,25.1,20.9,NaN,NaN,1.3,14.0,6.4,8.0,NaN,1,0,0,0,0,0,無,382.0
3745856,Taitung,C0S730,綠島,2013-11-03,1003.3,23.9,26.0,22.7,NaN,NaN,2.2,44.0,9.6,70.0,17.0,1,0,0,0,0,0,無,110.0
3753617,Taitung,C0S740,池上,2013-11-03,984.0,22.4,24.7,20.7,NaN,NaN,0.5,6.0,3.7,237.0,14.5,1,0,0,0,0,0,無,289.0
3761378,Taitung,C0S750,向陽,2013-11-03,776.5,13.0,17.1,11.1,NaN,NaN,0.4,284.0,3.7,349.0,8.0,1,0,0,0,0,0,無,2280.0
3776900,Taitung,C0S770,大溪山,2013-11-03,973.2,22.0,23.8,20.9,NaN,NaN,1.2,59.0,7.0,58.0,NaN,1,0,0,0,0,0,無,375.0
3784661,Taitung,C0S790,金崙,2013-11-03,989.8,22.6,27.6,20.2,NaN,NaN,0.4,9.0,3.5,249.0,34.5,1,0,0,0,0,0,無,236.0
3792422,Taitung,C0S810,東河,2013-11-03,1010.7,24.8,29.7,22.3,NaN,NaN,1.7,326.0,7.8,346.0,18.5,1,0,0,0,0,0,無,65.0
3800183,Taitung,C0S830,長濱,2013-11-03,984.9,24.0,29.8,20.3,NaN,NaN,0.7,281.0,6.7,12.0,3.0,1,0,0,0,0,0,無,288.0
3807944,Taitung,C0S840,南田,2013-11-03,1014.4,23.8,27.4,21.4,NaN,NaN,1.5,270.0,7.3,57.0,56.0,1,0,0,0,0,0,無,22.0

In [ ]:
ma2=df3['locate']=='Taitung'
test=df3[ma2]
# test
df3.iloc[:,[3,7]].groupby(df['ObservDay_time']=='2013-11-03')
# test2=df2.iloc[:,[2,5]].groupby(df['ObservDay_time']).mean()
# test2

# T Max T Min 可以拿掉，準確度不夠

In [38]:
df4=df3.drop(columns=['T Max','T Min'])
df4

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
7404,Changhua,467270,田中,2020-04-09,1011.1,22.1,77.0,41.0,2.1,330.0,9.4,340.0,0.0,0,0,0,0,0,0,無,48.6
7405,Changhua,467270,田中,2020-04-10,1012.4,23.7,75.0,41.0,1.3,310.0,7.1,190.0,0.0,0,0,0,0,0,0,無,48.6
7406,Changhua,467270,田中,2020-04-11,1009.9,22.4,83.0,48.0,1.5,340.0,9.3,320.0,0.6,0,0,0,0,0,0,無,48.6
7407,Changhua,467270,田中,2020-04-12,1010.4,18.8,71.0,48.0,3.4,360.0,13.9,10.0,4.5,0,0,0,0,0,0,無,48.6
7408,Changhua,467270,田中,2020-04-13,1012.7,17.7,50.0,19.0,2.8,340.0,13.6,330.0,0.0,0,0,0,0,0,0,無,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617789,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617790,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617791,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617792,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0
4617793,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0,0,0,0,無,15.0

In [39]:
df4.describe().astype(int)

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,festival_count,altitude
count,1441158,1584563,1147528,1149871,1580985,1586091,1384610,1384597,2399365,2412414,2412414,2412414,2412414,2412414,2412414
mean,979,21,81,61,1,135,8,177,6,0,0,0,0,0,500
std,61,5,10,15,1,116,4,118,24,0,0,0,0,0,708
min,-1,-11,0,-629,0,0,0,0,0,0,0,0,0,0,2
25%,978,18,75,53,0,30,5,57,0,0,0,0,0,0,39
50%,1001,22,81,61,1,99,7,186,0,0,0,0,0,0,190
75%,1009,26,88,71,2,240,9,289,2,1,0,0,0,0,718
max,1061,38,100,105,33,360,99,999,1402,1,1,1,3,1,3860

In [42]:
# 把400以下的去掉
ma=df4['StnPres']<500
df4[ma]

Empty DataFrame
Columns: [locate, StationCode, StationNmae, ObservDay_time, StnPres, Temperature, RH, RHMin, WS, WD, WSGust, WDGust, Precp, ty_generate, sea_warning, land_warning, ty_strength, ty_path, festival_count, festival, altitude]
Index: []

In [41]:
df4.iloc[:,4][ma]=np.nan

<ipython-input-41-eeb02b4bc666>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.iloc[:,4][ma]=np.nan

In [43]:
df4.describe().astype(int)

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,festival_count,altitude
count,1441151,1584563,1147528,1149871,1580985,1586091,1384610,1384597,2399365,2412414,2412414,2412414,2412414,2412414,2412414
mean,979,21,81,61,1,135,8,177,6,0,0,0,0,0,500
std,61,5,10,15,1,116,4,118,24,0,0,0,0,0,708
min,532,-11,0,-629,0,0,0,0,0,0,0,0,0,0,2
25%,978,18,75,53,0,30,5,57,0,0,0,0,0,0,39
50%,1001,22,81,61,1,99,7,186,0,0,0,0,0,0,190
75%,1009,26,88,71,2,240,9,289,2,1,0,0,0,0,718
max,1061,38,100,105,33,360,99,999,1402,1,1,1,3,1,3860

In [44]:
ma=df4['RHMin']<0
df4[ma]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
1171598,Kaohsiung,C0V640,湖內,2020-05-22,1000.8,25.7,99.0,-2.0,2.1,141.0,11.9,213.0,300.0,0,0,0,0,0,0,無,35.0
2599173,Pingtung,C0R480,長治,2019-02-28,1007.8,25.1,NaN,-3.0,1.4,6.0,5.2,325.0,0.0,1,0,0,0,0,0,無,57.0
2669208,Pingtung,C0R580,南州,2019-09-02,969.2,28.5,NaN,-629.0,1.8,359.0,7.1,256.0,2.0,1,0,0,0,0,0,無,10.0
3251125,Tainan,C0O810,曾文,2019-03-30,997.6,24.0,100.0,-18.0,0.6,2.0,2.8,35.0,0.5,0,0,0,0,0,0,無,161.0
3251126,Tainan,C0O810,曾文,2019-03-31,1000.7,24.3,NaN,-10.0,0.7,147.0,6.3,23.0,0.0,0,0,0,0,0,0,無,161.0

In [45]:
df4.iloc[:,7][ma]=np.nan

<ipython-input-45-c578568b19f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.iloc[:,7][ma]=np.nan

In [46]:
df4.describe().astype(int)

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,festival_count,altitude
count,1441151,1584563,1147528,1149866,1580985,1586091,1384610,1384597,2399365,2412414,2412414,2412414,2412414,2412414,2412414
mean,979,21,81,61,1,135,8,177,6,0,0,0,0,0,500
std,61,5,10,15,1,116,4,118,24,0,0,0,0,0,708
min,532,-11,0,0,0,0,0,0,0,0,0,0,0,0,2
25%,978,18,75,53,0,30,5,57,0,0,0,0,0,0,39
50%,1001,22,81,61,1,99,7,186,0,0,0,0,0,0,190
75%,1009,26,88,71,2,240,9,289,2,1,0,0,0,0,718
max,1061,38,100,105,33,360,99,999,1402,1,1,1,3,1,3860

In [47]:
ma=df4['WSGust']>37
df4[ma]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
13987,Changhua,C0G620,芬園,2017-01-17,1007.5,17.4,83.0,53.0,1.3,5.0,51.9,9.0,0.0,0,0,0,0,0,0,無,110.0
20952,Changhua,C0G640,鹿港,2014-11-13,1017.3,20.6,79.0,59.0,5.0,26.0,92.7,214.0,0.0,0,0,0,0,0,0,無,17.0
21220,Changhua,C0G640,鹿港,2015-08-08,975.8,26.3,93.0,77.0,9.3,6.0,39.5,352.0,83.0,1,1,1,2,3,0,無,17.0
21636,Changhua,C0G640,鹿港,2016-09-27,981.6,27.3,89.0,82.0,11.3,11.0,42.0,13.0,31.0,1,1,1,2,3,0,無,17.0
29509,Changhua,C0G650,員林,2017-01-17,1017.1,18.1,86.0,48.0,0.8,6.0,52.2,202.0,0.0,0,0,0,0,0,0,無,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561820,Yunlin,C0K500,元長,2016-09-27,981.2,26.8,91.0,83.0,10.0,354.0,39.1,336.0,122.0,1,1,1,2,3,0,無,12.0
4577342,Yunlin,C0K520,雲林東勢,2016-09-27,981.7,26.8,93.0,85.0,8.6,2.0,40.0,337.0,62.5,1,1,1,2,3,0,無,10.0
4584687,Yunlin,C0K530,臺西,2015-08-08,977.0,26.3,89.0,74.0,11.7,355.0,39.9,315.0,70.5,1,1,1,2,3,0,無,12.0
4585103,Yunlin,C0K530,臺西,2016-09-27,982.7,27.0,91.0,94.0,14.2,12.0,40.2,352.0,37.0,1,1,1,2,3,0,無,12.0
4592864,Yunlin,C0K550,蔦松,2016-09-27,983.1,26.7,91.0,82.0,10.5,341.0,39.7,316.0,107.5,1,1,1,2,3,0,無,15.0

In [48]:
df4.iloc[:,10][ma]=np.nan

<ipython-input-48-b3cf7756bca8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.iloc[:,10][ma]=np.nan

In [50]:
df4.describe().astype(int)

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,festival_count,altitude
count,1441151,1584563,1147528,1149866,1580985,1586091,1382693,1384597,2399365,2412414,2412414,2412414,2412414,2412414,2412414
mean,979,21,81,61,1,135,8,177,6,0,0,0,0,0,500
std,61,5,10,15,1,116,4,118,24,0,0,0,0,0,708
min,532,-11,0,0,0,0,0,0,0,0,0,0,0,0,2
25%,978,18,75,53,0,30,5,57,0,0,0,0,0,0,39
50%,1001,22,81,61,1,99,7,186,0,0,0,0,0,0,190
75%,1009,26,88,71,2,240,9,289,2,1,0,0,0,0,718
max,1061,38,100,105,33,360,37,999,1402,1,1,1,3,1,3860

In [51]:
ma=df4['WDGust']>360
df4[ma]
# df4.iloc[:,11][ma]=df4.iloc[:,9][ma].values
# df4.iloc[:,9][ma].values

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
1676545,Nantou,467550,玉山,2000-06-17,643.5,6.0,97.0,93.0,5.9,157.0,24.0,999.0,12.0,0,0,0,0,0,0,無,3844.8
4155916,Yilan,C0U520,雙連埤,2010-05-10,953.5,17.0,NaN,NaN,0.1,218.0,4.5,547.0,4.5,0,0,0,0,0,0,無,517.0
4155917,Yilan,C0U520,雙連埤,2010-05-11,958.3,16.3,NaN,NaN,0.0,0.0,4.6,547.0,4.0,0,0,0,0,0,0,無,517.0

In [52]:
df4.iloc[:,11][ma]=df4.iloc[:,9][ma].values
# df4.iloc[:,9][ma].values

<ipython-input-52-f6beec39c8ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.iloc[:,11][ma]=df4.iloc[:,9][ma].values

In [53]:
df4.describe().astype(int)

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,festival_count,altitude
count,1441151,1584563,1147528,1149866,1580985,1586091,1382693,1384597,2399365,2412414,2412414,2412414,2412414,2412414,2412414
mean,979,21,81,61,1,135,8,177,6,0,0,0,0,0,500
std,61,5,10,15,1,116,4,118,24,0,0,0,0,0,708
min,532,-11,0,0,0,0,0,0,0,0,0,0,0,0,2
25%,978,18,75,53,0,30,5,57,0,0,0,0,0,0,39
50%,1001,22,81,61,1,99,7,186,0,0,0,0,0,0,190
75%,1009,26,88,71,2,240,9,289,2,1,0,0,0,0,718
max,1061,38,100,105,33,360,37,360,1402,1,1,1,3,1,3860

In [ ]:
locat='Changhua'
ma=df4['locate']==locat
# df4[ma]      # 77597
df4[ma].describe().astype(int)

In [54]:
df4.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/no_drop_no_fill.csv',index=False)

# fillna

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/no_drop_no_fill.csv',low_memory=False)
df

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude
0,Changhua,467270,田中,2020-04-09,1011.1,22.1,77.0,41.0,2.1,330.0,...,340.0,0.0,0,0,0,0,0,0,無,48.6
1,Changhua,467270,田中,2020-04-10,1012.4,23.7,75.0,41.0,1.3,310.0,...,190.0,0.0,0,0,0,0,0,0,無,48.6
2,Changhua,467270,田中,2020-04-11,1009.9,22.4,83.0,48.0,1.5,340.0,...,320.0,0.6,0,0,0,0,0,0,無,48.6
3,Changhua,467270,田中,2020-04-12,1010.4,18.8,71.0,48.0,3.4,360.0,...,10.0,4.5,0,0,0,0,0,0,無,48.6
4,Changhua,467270,田中,2020-04-13,1012.7,17.7,50.0,19.0,2.8,340.0,...,330.0,0.0,0,0,0,0,0,0,無,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,無,15.0
2412410,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,無,15.0
2412411,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,無,15.0
2412412,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,無,15.0
2412413,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,無,15.0

In [2]:
df.dtypes

locate             object
StationCode        object
StationNmae        object
ObservDay_time     object
StnPres           float64
Temperature       float64
RH                float64
RHMin             float64
WS                float64
WD                float64
WSGust            float64
WDGust            float64
Precp             float64
ty_generate         int64
sea_warning         int64
land_warning        int64
ty_strength         int64
ty_path            object
festival_count      int64
festival           object
altitude          float64
dtype: object

In [3]:
df['altitude_classification']=np.nan

In [4]:
City_Dict2={'Taipei':'Taipei','New_TaipeiCity':'New_TaipeiCity',
            'Keelung':'Keelung','TaoyuanCity':'Taoyuan',
            'HsinchuCity':'Hsinchu','HsinchuCounty':'Hsinchu',
            'MiaoliCounty': 'Miaoli','Taichung':'Taichung',
            'Changhua':'Changhua',
            'Nantou':'Nantou','Yunlin':'Yunlin', 
            'Chiayi_City':'Chiayi', 'Chiayi_County':'Chiayi', 
            'Tainan':'Tainan','Kaohsiung': 'Kaohsiung',
            'Pingtung':'Pingtung','Yilan':'Yilan',
            'Hualien': 'Hualien','Taitung':'Taitung'}
df=df.replace(City_Dict2)

In [5]:
df['locate'].unique()

array(['Changhua', 'Chiayi', 'Hsinchu', 'Hualien', 'Kaohsiung', 'Keelung',
       'Miaoli', 'Nantou', 'New_TaipeiCity', 'Pingtung', 'Taichung',
       'Tainan', 'Taipei', 'Taitung', 'Taoyuan', 'Yilan', 'Yunlin'],
      dtype=object)

In [6]:
df['altitude_classification']=df['altitude_classification'].astype(str)

In [7]:
df.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                     object
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
dtype: object

In [8]:
ma=df['altitude']>2000
df.iloc[:,][ma]['StationNmae'].unique()

array(['阿里山', '大禹嶺', '慈恩', '排雲', '南天池', '玉山', '昆陽', '合歡山', '梅峰', '玉山風口',
       '小奇萊', '奇萊稜線', '翠峰', '丹大', '翠華', '新高口', '望鄉山', '大尖山', '雪山圈谷',
       '審馬陣', '南湖圈谷', '梨山', '桃山', '雪山東峰', '稍來', '雪嶺', '向陽', '多加屯', '思源'],
      dtype=object)

In [9]:
df.iloc[:,21][ma]='high_altitude'

<ipython-input-9-bf9742bf5938>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:,21][ma]='high_altitude'

In [10]:
df[df['altitude']>2000]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
87537,Chiayi,467530,阿里山,2000-01-01,765.8,8.8,44.0,18.0,2.4,260.0,...,0.0,0,0,0,0,0,0,無,2413.4,high_altitude
87538,Chiayi,467530,阿里山,2000-01-02,764.5,7.3,50.0,21.0,2.0,200.0,...,0.0,0,0,0,0,0,0,無,2413.4,high_altitude
87539,Chiayi,467530,阿里山,2000-01-03,764.2,6.2,49.0,20.0,2.7,300.0,...,0.0,0,0,0,0,0,0,無,2413.4,high_altitude
87540,Chiayi,467530,阿里山,2000-01-04,764.5,8.0,59.0,40.0,2.9,330.0,...,0.0,0,0,0,0,0,0,無,2413.4,high_altitude
87541,Chiayi,467530,阿里山,2000-01-05,764.3,9.1,50.0,36.0,2.2,210.0,...,0.0,0,0,0,0,0,0,無,2413.4,high_altitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343525,Yilan,C1U920,思源,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,2085.0,high_altitude
2343526,Yilan,C1U920,思源,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,2085.0,high_altitude
2343527,Yilan,C1U920,思源,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,2085.0,high_altitude
2343528,Yilan,C1U920,思源,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,2085.0,high_altitude
2343529,Yilan,C1U920,思源,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,2085.0,high_altitude

In [11]:
ma1=df['altitude']<2001
ma2=df['altitude']>499
df[ma1&ma2]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
105022,Chiayi,C0M530,奮起湖,2000-01-01,NaN,13.4,NaN,NaN,0.9,100.0,...,0.0,0,0,0,0,0,0,無,1385.0,nan
105023,Chiayi,C0M530,奮起湖,2000-01-02,NaN,12.4,NaN,NaN,1.2,100.0,...,0.0,0,0,0,0,0,0,無,1385.0,nan
105024,Chiayi,C0M530,奮起湖,2000-01-03,NaN,10.6,NaN,NaN,1.0,110.0,...,0.0,0,0,0,0,0,0,無,1385.0,nan
105025,Chiayi,C0M530,奮起湖,2000-01-04,NaN,10.9,NaN,NaN,0.9,110.0,...,0.0,0,0,0,0,0,0,無,1385.0,nan
105026,Chiayi,C0M530,奮起湖,2000-01-05,NaN,13.5,NaN,NaN,0.9,100.0,...,0.0,0,0,0,0,0,0,無,1385.0,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351194,Yunlin,C0K240,草嶺,2021-03-27,891.3,18.9,86.0,64.0,1.7,310.0,...,0.0,0,0,0,0,0,0,無,1132.0,nan
2351195,Yunlin,C0K240,草嶺,2021-03-28,889.3,19.6,91.0,63.0,2.1,325.0,...,0.0,0,0,0,0,0,0,無,1132.0,nan
2351196,Yunlin,C0K240,草嶺,2021-03-29,888.2,20.6,87.0,59.0,2.2,135.0,...,0.0,0,0,0,0,0,0,無,1132.0,nan
2351197,Yunlin,C0K240,草嶺,2021-03-30,888.0,20.7,92.0,58.0,2.0,109.0,...,0.0,0,0,0,0,0,0,無,1132.0,nan
2351198,Yunlin,C0K240,草嶺,2021-03-31,888.2,21.2,90.0,61.0,2.4,322.0,...,0.0,0,0,0,0,0,0,無,1132.0,nan

In [12]:
df.iloc[:,21][ma1&ma2]='medium_altitude'

<ipython-input-12-9cd3cda7d4b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:,21][ma1&ma2]='medium_altitude'

In [13]:
df[ma1&ma2]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
105022,Chiayi,C0M530,奮起湖,2000-01-01,NaN,13.4,NaN,NaN,0.9,100.0,...,0.0,0,0,0,0,0,0,無,1385.0,medium_altitude
105023,Chiayi,C0M530,奮起湖,2000-01-02,NaN,12.4,NaN,NaN,1.2,100.0,...,0.0,0,0,0,0,0,0,無,1385.0,medium_altitude
105024,Chiayi,C0M530,奮起湖,2000-01-03,NaN,10.6,NaN,NaN,1.0,110.0,...,0.0,0,0,0,0,0,0,無,1385.0,medium_altitude
105025,Chiayi,C0M530,奮起湖,2000-01-04,NaN,10.9,NaN,NaN,0.9,110.0,...,0.0,0,0,0,0,0,0,無,1385.0,medium_altitude
105026,Chiayi,C0M530,奮起湖,2000-01-05,NaN,13.5,NaN,NaN,0.9,100.0,...,0.0,0,0,0,0,0,0,無,1385.0,medium_altitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351194,Yunlin,C0K240,草嶺,2021-03-27,891.3,18.9,86.0,64.0,1.7,310.0,...,0.0,0,0,0,0,0,0,無,1132.0,medium_altitude
2351195,Yunlin,C0K240,草嶺,2021-03-28,889.3,19.6,91.0,63.0,2.1,325.0,...,0.0,0,0,0,0,0,0,無,1132.0,medium_altitude
2351196,Yunlin,C0K240,草嶺,2021-03-29,888.2,20.6,87.0,59.0,2.2,135.0,...,0.0,0,0,0,0,0,0,無,1132.0,medium_altitude
2351197,Yunlin,C0K240,草嶺,2021-03-30,888.0,20.7,92.0,58.0,2.0,109.0,...,0.0,0,0,0,0,0,0,無,1132.0,medium_altitude
2351198,Yunlin,C0K240,草嶺,2021-03-31,888.2,21.2,90.0,61.0,2.4,322.0,...,0.0,0,0,0,0,0,0,無,1132.0,medium_altitude

In [14]:
ma3=df['altitude']<500
df[ma3]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
0,Changhua,467270,田中,2020-04-09,1011.1,22.1,77.0,41.0,2.1,330.0,...,0.0,0,0,0,0,0,0,無,48.6,nan
1,Changhua,467270,田中,2020-04-10,1012.4,23.7,75.0,41.0,1.3,310.0,...,0.0,0,0,0,0,0,0,無,48.6,nan
2,Changhua,467270,田中,2020-04-11,1009.9,22.4,83.0,48.0,1.5,340.0,...,0.6,0,0,0,0,0,0,無,48.6,nan
3,Changhua,467270,田中,2020-04-12,1010.4,18.8,71.0,48.0,3.4,360.0,...,4.5,0,0,0,0,0,0,無,48.6,nan
4,Changhua,467270,田中,2020-04-13,1012.7,17.7,50.0,19.0,2.8,340.0,...,0.0,0,0,0,0,0,0,無,48.6,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,nan
2412410,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,nan
2412411,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,nan
2412412,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,nan
2412413,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,nan

In [15]:
df.iloc[:,21][ma3]='low_altitude'

<ipython-input-15-57ef5086b471>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:,21][ma3]='low_altitude'

In [16]:
df[ma3]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
0,Changhua,467270,田中,2020-04-09,1011.1,22.1,77.0,41.0,2.1,330.0,...,0.0,0,0,0,0,0,0,無,48.6,low_altitude
1,Changhua,467270,田中,2020-04-10,1012.4,23.7,75.0,41.0,1.3,310.0,...,0.0,0,0,0,0,0,0,無,48.6,low_altitude
2,Changhua,467270,田中,2020-04-11,1009.9,22.4,83.0,48.0,1.5,340.0,...,0.6,0,0,0,0,0,0,無,48.6,low_altitude
3,Changhua,467270,田中,2020-04-12,1010.4,18.8,71.0,48.0,3.4,360.0,...,4.5,0,0,0,0,0,0,無,48.6,low_altitude
4,Changhua,467270,田中,2020-04-13,1012.7,17.7,50.0,19.0,2.8,340.0,...,0.0,0,0,0,0,0,0,無,48.6,low_altitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412410,Yunlin,C1K540,口湖,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412411,Yunlin,C1K540,口湖,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412412,Yunlin,C1K540,口湖,2021-03-30,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412413,Yunlin,C1K540,口湖,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude

In [17]:
df['altitude_classification'].unique()

array(['low_altitude', 'high_altitude', 'medium_altitude'], dtype=object)

In [18]:
df.isnull().sum()

locate                           0
StationCode                      0
StationNmae                      0
ObservDay_time                   0
StnPres                     971263
Temperature                 827851
RH                         1264886
RHMin                      1262548
WS                          831429
WD                          826323
WSGust                     1029721
WDGust                     1027817
Precp                        13049
ty_generate                      0
sea_warning                      0
land_warning                     0
ty_strength                      0
ty_path                          0
festival_count                   0
festival                         0
altitude                         0
altitude_classification          0
dtype: int64

In [ ]:
# df4['ObservDay_time'] = pd.to_datetime(df4['ObservDay_time'], infer_datetime_format=True)

In [ ]:
# df4['ObservDay_time']

In [ ]:
# df4[ma]

In [ ]:
# df4[ma]
# test=df4[ma].groupby(df['ObservDay_time'])['Temperature'].mean()
# # test2=df2.iloc[:,[2,5]].groupby(df['ObservDay_time']).mean()
# test
# tdf=pd.DataFrame(test,index=None)
# tdf=tdf.reset_index()
# tdf
# # type(test)

In [20]:
# df1=df.groupby(['locate','ObservDay_time','altitude_classification'])

In [21]:
# df1

In [22]:
df['Temperature']=df.groupby(['locate','ObservDay_time','altitude_classification'])['Temperature'].transform(lambda x: x.fillna(x.mean()))

In [23]:
df['StnPres']=df.groupby(['locate','ObservDay_time','altitude_classification'])['StnPres'].transform(lambda x: x.fillna(x.mean()))
df['RH']=df.groupby(['locate','ObservDay_time','altitude_classification'])['RH'].transform(lambda x: x.fillna(x.mean()))
df['RHMin']=df.groupby(['locate','ObservDay_time','altitude_classification'])['RHMin'].transform(lambda x: x.fillna(x.mean()))
df['WS']=df.groupby(['locate','ObservDay_time','altitude_classification'])['WS'].transform(lambda x: x.fillna(x.mean()))
df['WD']=df.groupby(['locate','ObservDay_time','altitude_classification'])['WD'].transform(lambda x: x.fillna(x.mean()))
df['WSGust']=df.groupby(['locate','ObservDay_time','altitude_classification'])['WSGust'].transform(lambda x: x.fillna(x.mean()))
df['WDGust']=df.groupby(['locate','ObservDay_time','altitude_classification'])['WDGust'].transform(lambda x: x.fillna(x.mean()))
df['Precp']=df.groupby(['locate','ObservDay_time','altitude_classification'])['Precp'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
df['StnPres']=df.groupby(['locate','ObservDay_time'])
['StnPres'].transform(lambda x: x.fillna(x.mean()))
df['RH']=df.groupby(['locate','ObservDay_time'])
['RH'].transform(lambda x: x.fillna(x.mean()))
df['RHMin']=df.groupby(['locate','ObservDay_time'])
['RHMin'].transform(lambda x: x.fillna(x.mean()))
df['WS']=df.groupby(['locate','ObservDay_time'])
['WS'].transform(lambda x: x.fillna(x.mean()))
df['WD']=df.groupby(['locate','ObservDay_time'])
['WD'].transform(lambda x: x.fillna(x.mean()))
df['WSGust']=df.groupby(['locate','ObservDay_time'])
['WSGust'].transform(lambda x: x.fillna(x.mean()))
df['WDGust']=df.groupby(['locate','ObservDay_time'])
['WDGust'].transform(lambda x: x.fillna(x.mean()))
df['Precp']=df.groupby(['locate','ObservDay_time'])
['Precp'].transform(lambda x: x.fillna(x.mean()))

In [24]:
df.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                     object
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
dtype: object

In [25]:
df.isnull().sum()

locate                          0
StationCode                     0
StationNmae                     0
ObservDay_time                  0
StnPres                    196385
Temperature                 58184
RH                         320666
RHMin                      319281
WS                          58244
WD                          56937
WSGust                     204242
WDGust                     203895
Precp                         283
ty_generate                     0
sea_warning                     0
land_warning                    0
ty_strength                     0
ty_path                         0
festival_count                  0
festival                        0
altitude                        0
altitude_classification         0
dtype: int64

In [26]:
df.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/fillna_half.csv',index=False)

# fillna 到一半接續

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/fillna_half.csv',low_memory=False)

In [3]:
df
# 透過 locat ObservDay_time altitude_classification 去補當天平均值方式後
# 剩下的都是當天全部都是nan的所以再怎麼用這三個特徵去補都補不起來
# 所以將新增一個欄位將台灣分成幾個區塊
# 1. Keelung Taipei New_TaipeiCity Yilan
# 2. Taoyuan Hsinchu Miaoli
# 3. Taichung Changhua Nantou
# 4. Yunlin Chiayi Tainan
# 5. Kaohsiung Pingtung
# 6. Hualien Taitung

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
0,Changhua,467270,田中,2020-04-09,1011.100000,22.100000,77.000000,41.000000,2.100000,330.000000,...,0.0,0,0,0,0,0,0,無,48.6,low_altitude
1,Changhua,467270,田中,2020-04-10,1012.400000,23.700000,75.000000,41.000000,1.300000,310.000000,...,0.0,0,0,0,0,0,0,無,48.6,low_altitude
2,Changhua,467270,田中,2020-04-11,1009.900000,22.400000,83.000000,48.000000,1.500000,340.000000,...,0.6,0,0,0,0,0,0,無,48.6,low_altitude
3,Changhua,467270,田中,2020-04-12,1010.400000,18.800000,71.000000,48.000000,3.400000,360.000000,...,4.5,0,0,0,0,0,0,無,48.6,low_altitude
4,Changhua,467270,田中,2020-04-13,1012.700000,17.700000,50.000000,19.000000,2.800000,340.000000,...,0.0,0,0,0,0,0,0,無,48.6,low_altitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,1007.768182,23.100000,76.590909,52.500000,1.068182,145.500000,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412410,Yunlin,C1K540,口湖,2021-03-28,1005.054545,25.000000,76.363636,57.772727,1.300000,170.727273,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412411,Yunlin,C1K540,口湖,2021-03-29,1004.054545,24.936364,79.727273,58.272727,1.218182,134.409091,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412412,Yunlin,C1K540,口湖,2021-03-30,1003.245455,25.700000,81.818182,63.409091,1.431818,166.727273,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude
2412413,Yunlin,C1K540,口湖,2021-03-31,1003.595455,25.704545,82.818182,61.095238,1.313636,138.272727,...,0.0,0,0,0,0,0,0,無,15.0,low_altitude

In [27]:
df['locate_classification']=np.nan

In [50]:
ls1=[['Keelung','Taipei','New_TaipeiCity','Yilan'],['Taoyuan','Hsinchu','Miaoli'],['Taichung', 'Changhua', 'Nantou'],['Yunlin' ,'Chiayi' ,'Tainan'],['Kaohsiung','Pingtung'],['Hualien', 'Taitung']]

In [52]:
for i,lis in enumerate(ls1):
    i+=1
    for li in lis:
        ma=df['locate']==li
        df.iloc[:,-1][ma]=i
    
# ma=df['locate']=='Keelung'
# df.iloc[:,-1][ma]=1

<ipython-input-52-05c930822a75>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:,-1][ma]=i

In [69]:
ma1=df['locate_classification']==6
df[ma1]['locate'].unique()

array(['Hualien', 'Taitung'], dtype=object)

In [4]:
df.isnull().sum()

locate                          0
StationCode                     0
StationNmae                     0
ObservDay_time                  0
StnPres                    196385
Temperature                 58184
RH                         320666
RHMin                      319281
WS                          58244
WD                          56937
WSGust                     204242
WDGust                     203895
Precp                         283
ty_generate                     0
sea_warning                     0
land_warning                    0
ty_strength                     0
ty_path                         0
festival_count                  0
festival                        0
altitude                        0
altitude_classification         0
dtype: int64

In [70]:
# df['Temperature']=df.groupby(['locate','ObservDay_time','altitude_classification'])['Temperature'].fillna(method='bfill')
df['Temperature']=df.groupby(['ObservDay_time','altitude_classification','altitude_classification'])['Temperature'].transform(lambda x: x.fillna(x.mean()))

In [72]:
df['StnPres']=df.groupby(['ObservDay_time','altitude_classification'])['StnPres'].transform(lambda x: x.fillna(x.mean()))
df['RH']=df.groupby(['ObservDay_time','altitude_classification'])['RH'].transform(lambda x: x.fillna(x.mean()))
df['RHMin']=df.groupby(['ObservDay_time','altitude_classification'])['RHMin'].transform(lambda x: x.fillna(x.mean()))
df['WS']=df.groupby(['ObservDay_time','altitude_classification'])['WS'].transform(lambda x: x.fillna(x.mean()))
df['WD']=df.groupby(['ObservDay_time','altitude_classification'])['WD'].transform(lambda x: x.fillna(x.mean()))
df['WSGust']=df.groupby(['ObservDay_time','altitude_classification'])['WSGust'].transform(lambda x: x.fillna(x.mean()))
df['WDGust']=df.groupby(['ObservDay_time','altitude_classification'])['WDGust'].transform(lambda x: x.fillna(x.mean()))
df['Precp']=df.groupby(['ObservDay_time','altitude_classification'])['Precp'].transform(lambda x: x.fillna(x.mean()))

In [23]:
test1=df[df['locate']=='Changhua']
# test2=test1[test1['altitude_classification']=='low_altitude']
test2=test1[test1['ObservDay_time']=='2002-05-05']
test2[test2['Temperature'].isnull()]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
479,Changhua,C0G620,芬園,2002-05-05,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,110.0,low_altitude
5313,Changhua,C0G640,鹿港,2002-05-05,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,17.0,low_altitude
12923,Changhua,C0G650,員林,2002-05-05,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,34.0,low_altitude
20447,Changhua,C0G660,溪湖,2002-05-05,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,27.0,low_altitude

In [16]:
# test=df[df['Temperature'].isnull()]
# df['']

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
478,Changhua,C0G620,芬園,2002-05-04,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,110.0,low_altitude
479,Changhua,C0G620,芬園,2002-05-05,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,110.0,low_altitude
5312,Changhua,C0G640,鹿港,2002-05-04,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,17.0,low_altitude
5313,Changhua,C0G640,鹿港,2002-05-05,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,17.0,low_altitude
6820,Changhua,C0G640,鹿港,2006-06-20,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,無,17.0,low_altitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2355502,Yunlin,C0K280,四湖,2006-07-15,NaN,NaN,NaN,NaN,NaN,NaN,...,66.0,1,1,1,1,2,0,無,23.0,low_altitude
2366230,Yunlin,C0K330,虎尾,2004-11-07,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0,0,0,0,0,0,無,38.0,low_altitude
2366843,Yunlin,C0K330,虎尾,2006-07-13,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,1,1,1,1,2,0,無,38.0,low_altitude
2366844,Yunlin,C0K330,虎尾,2006-07-14,NaN,NaN,NaN,NaN,NaN,NaN,...,92.5,1,1,1,1,2,0,無,38.0,low_altitude
2366845,Yunlin,C0K330,虎尾,2006-07-15,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,1,1,1,1,2,0,無,38.0,low_altitude

In [71]:
df.isnull().sum()

locate                          0
StationCode                     0
StationNmae                     0
ObservDay_time                  0
StnPres                    196385
Temperature                     0
RH                         320666
RHMin                      319281
WS                          58244
WD                          56937
WSGust                     204242
WDGust                     203895
Precp                         283
ty_generate                     0
sea_warning                     0
land_warning                    0
ty_strength                     0
ty_path                         0
festival_count                  0
festival                        0
altitude                        0
altitude_classification         0
locate_classification           0
dtype: int64

In [73]:
df.isnull().sum()

locate                      0
StationCode                 0
StationNmae                 0
ObservDay_time              0
StnPres                     0
Temperature                 0
RH                          0
RHMin                       0
WS                          0
WD                          0
WSGust                     12
WDGust                      0
Precp                       0
ty_generate                 0
sea_warning                 0
land_warning                0
ty_strength                 0
ty_path                     0
festival_count              0
festival                    0
altitude                    0
altitude_classification     0
locate_classification       0
dtype: int64

In [74]:
df[df['WSGust'].isnull()]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification
89934,Chiayi,467530,阿里山,2006-07-25,754.000000,15.40,97.000000,81.000000,3.80,160.000000,...,1,1,1,2,3,0,無,2413.4,high_altitude,4.0
317902,Hualien,C0T790,大禹嶺,2006-07-25,671.185714,12.60,95.333333,82.666667,9.20,110.000000,...,1,1,1,2,3,0,無,2830.0,high_altitude,6.0
482250,Hualien,C1T810,慈恩,2006-07-25,671.185714,12.60,95.333333,82.666667,9.20,110.000000,...,1,1,1,2,3,0,無,2049.0,high_altitude,6.0
688016,Kaohsiung,C1V170,排雲,2006-07-25,671.185714,12.03,95.333333,82.666667,7.44,127.433333,...,1,1,1,2,3,0,無,3690.0,high_altitude,5.0
695630,Kaohsiung,C1V190,南天池,2006-07-25,671.185714,12.03,95.333333,82.666667,7.44,127.433333,...,1,1,1,2,3,0,無,2700.0,high_altitude,5.0
910271,Nantou,467550,玉山,2006-07-25,635.800000,7.60,95.000000,83.000000,13.90,170.000000,...,1,1,1,2,3,0,無,3844.8,high_altitude,3.0
942706,Nantou,C0H990,昆陽,2006-07-25,635.800000,11.50,95.000000,83.000000,2.30,170.000000,...,1,1,1,2,3,0,無,3076.0,high_altitude,3.0
958098,Nantou,C0H9C0,合歡山,2006-07-25,635.800000,9.70,95.000000,83.000000,13.50,100.000000,...,1,1,1,2,3,0,無,3402.0,high_altitude,3.0
1012721,Nantou,C1H000,翠峰,2006-07-25,635.800000,9.60,95.000000,83.000000,9.90,146.666667,...,1,1,1,2,3,0,無,2454.0,high_altitude,3.0
1192675,Nantou,C1I440,新高口,2006-07-25,635.800000,9.60,95.000000,83.000000,9.90,146.666667,...,1,1,1,2,3,0,無,2540.0,high_altitude,3.0
1609813,Taichung,C0F861,梨山,2006-07-25,671.185714,16.40,95.333333,82.666667,2.20,60.000000,...,1,1,1,2,3,0,無,2215.0,high_altitude,3.0
2045029,Taitung,C0S750,向陽,2006-07-25,765.300000,15.30,95.333333,82.666667,0.50,101.000000,...,1,1,1,2,3,0,無,2280.0,high_altitude,6.0

In [77]:
df1=df.fillna(method='bfill')

In [78]:
df1.isnull().sum()

locate                     0
StationCode                0
StationNmae                0
ObservDay_time             0
StnPres                    0
Temperature                0
RH                         0
RHMin                      0
WS                         0
WD                         0
WSGust                     0
WDGust                     0
Precp                      0
ty_generate                0
sea_warning                0
land_warning               0
ty_strength                0
ty_path                    0
festival_count             0
festival                   0
altitude                   0
altitude_classification    0
locate_classification      0
dtype: int64

In [42]:
# df1=df.fillna(method='ffill')
# 非不得已的方式

In [79]:
df1.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                     object
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
locate_classification      float64
dtype: object

In [34]:
df

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification
0,Changhua,467270,田中,2020-04-09,1011.1,22.1,77,41,2.1,330,...,0,0,0,0,0,0,0,無,48.6,low_altitude
1,Changhua,467270,田中,2020-04-10,1012.4,23.7,75,41,1.3,310,...,0,0,0,0,0,0,0,無,48.6,low_altitude
2,Changhua,467270,田中,2020-04-11,1009.9,22.4,83,48,1.5,340,...,0.6,0,0,0,0,0,0,無,48.6,low_altitude
3,Changhua,467270,田中,2020-04-12,1010.4,18.8,71,48,3.4,360,...,4.5,0,0,0,0,0,0,無,48.6,low_altitude
4,Changhua,467270,田中,2020-04-13,1012.7,17.7,50,19,2.8,340,...,0,0,0,0,0,0,0,無,48.6,low_altitude
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,1007.77,23.1,76.5909,52.5,1.06818,145.5,...,0,0,0,0,0,0,0,無,15.0,low_altitude
2412410,Yunlin,C1K540,口湖,2021-03-28,1005.05,25,76.3636,57.7727,1.3,170.727,...,0,0,0,0,0,0,0,無,15.0,low_altitude
2412411,Yunlin,C1K540,口湖,2021-03-29,1004.05,24.9364,79.7273,58.2727,1.21818,134.409,...,0,0,0,0,0,0,0,無,15.0,low_altitude
2412412,Yunlin,C1K540,口湖,2021-03-30,1003.25,25.7,81.8182,63.4091,1.43182,166.727,...,0,0,0,0,0,0,0,無,15.0,low_altitude
2412413,Yunlin,C1K540,口湖,2021-03-31,1003.6,25.7045,82.8182,61.0952,1.31364,138.273,...,0,0,0,0,0,0,0,無,15.0,low_altitude

In [80]:
li=df1['locate'].unique()
for i in li:
    ma=df['locate']==i
    print(i,len(df[ma]['ObservDay_time'].unique()))

Changhua 7663
Chiayi 7761
Hsinchu 7761
Hualien 7761
Kaohsiung 7761
Keelung 7761
Miaoli 7761
Nantou 7761
New_TaipeiCity 7761
Pingtung 7761
Taichung 7761
Tainan 7761
Taipei 7761
Taitung 7761
Taoyuan 7761
Yilan 7761
Yunlin 7761

In [81]:
df1.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/last_no_nan.csv',index=False)

In [ ]:
# df4[ma]

In [ ]:
# df4.isnull().sum()

In [ ]:
# df4['Temperature']=df4.groupby(['locate','ObservDay_time'])['Temperature'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
# df4[ma]

In [ ]:
# df4[ma]['Temperature']=df4.groupby(df4[ma]['ObservDay_time']).transform(lambda x: x.fillna(x.mean()))

In [ ]:
# for i in df4.groupby(df4[ma]['ObservDay_time']):
#     print(i)
# len(df4.groupby(df4[ma]['ObservDay_time']))  #7663
# df4[ma].groupby(df4[ma]['ObservDay_time'])['Temperature']