In [1]:
import pandas as pd
df=pd.read_csv("/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/last_no_nan.csv",low_memory=False)
df

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification
0,Changhua,467270,田中,2020-04-09,1011.100000,22.100000,77.000000,41.000000,2.100000,330.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
1,Changhua,467270,田中,2020-04-10,1012.400000,23.700000,75.000000,41.000000,1.300000,310.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
2,Changhua,467270,田中,2020-04-11,1009.900000,22.400000,83.000000,48.000000,1.500000,340.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
3,Changhua,467270,田中,2020-04-12,1010.400000,18.800000,71.000000,48.000000,3.400000,360.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
4,Changhua,467270,田中,2020-04-13,1012.700000,17.700000,50.000000,19.000000,2.800000,340.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,1007.768182,23.100000,76.590909,52.500000,1.068182,145.500000,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412410,Yunlin,C1K540,口湖,2021-03-28,1005.054545,25.000000,76.363636,57.772727,1.300000,170.727273,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412411,Yunlin,C1K540,口湖,2021-03-29,1004.054545,24.936364,79.727273,58.272727,1.218182,134.409091,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412412,Yunlin,C1K540,口湖,2021-03-30,1003.245455,25.700000,81.818182,63.409091,1.431818,166.727273,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412413,Yunlin,C1K540,口湖,2021-03-31,1003.595455,25.704545,82.818182,61.095238,1.313636,138.272727,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0

In [2]:
df.isnull().sum()

locate                     0
StationCode                0
StationNmae                0
ObservDay_time             0
StnPres                    0
Temperature                0
RH                         0
RHMin                      0
WS                         0
WD                         0
WSGust                     0
WDGust                     0
Precp                      0
ty_generate                0
sea_warning                0
land_warning               0
ty_strength                0
ty_path                    0
festival_count             0
festival                   0
altitude                   0
altitude_classification    0
locate_classification      0
dtype: int64

In [3]:
df.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                     object
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
locate_classification      float64
dtype: object

## 整理 菜價 y 新增標籤欄位

In [1]:
import pandas as pd
df1=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/菜價 y-label.csv',low_memory=False)
df1
# 菜價 y-label.csv 是 LA1
# df1=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/蔬菜/LF2_veg.csv',low_memory=False)
# df1=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/蔬菜/LA1_veg.csv',low_memory=False)
# df1

        市場代號        交易日期  中價平均   交易量加總    T+1    T+3    T+5    T+7
0     Taipei  2000-01-02  7.60  240616 -0.164 -0.099 -0.026 -0.421
1     Taipei  2000-01-03  6.35  213283 -0.150  0.134  0.142 -0.386
2     Taipei  2000-01-04  5.40  156684  0.269  0.370 -0.185 -0.139
3     Taipei  2000-01-05  6.85  143499  0.051  0.058 -0.431 -0.219
4     Taipei  2000-01-06  7.20  143662  0.028 -0.389 -0.354 -0.257
...      ...         ...   ...     ...    ...    ...    ...    ...
6412  Taipei  2021-03-26  6.30  301821 -0.032 -0.095    NaN    NaN
6413  Taipei  2021-03-27  6.10  306953 -0.066 -0.016    NaN    NaN
6414  Taipei  2021-03-28  5.70  286411  0.000    NaN    NaN    NaN
6415  Taipei  2021-03-30  5.70  286883  0.053    NaN    NaN    NaN
6416  Taipei  2021-03-31  6.00  249221    NaN    NaN    NaN    NaN

[6417 rows x 8 columns]

In [2]:
# df1.columns = ['Market','ObservDay_time','MediumAvgPrice','TradingVolume','T+1','T+3','T+5','T+7']

In [3]:
df1

        市場代號        交易日期  中價平均   交易量加總    T+1    T+3    T+5    T+7
0     Taipei  2000-01-02  7.60  240616 -0.164 -0.099 -0.026 -0.421
1     Taipei  2000-01-03  6.35  213283 -0.150  0.134  0.142 -0.386
2     Taipei  2000-01-04  5.40  156684  0.269  0.370 -0.185 -0.139
3     Taipei  2000-01-05  6.85  143499  0.051  0.058 -0.431 -0.219
4     Taipei  2000-01-06  7.20  143662  0.028 -0.389 -0.354 -0.257
...      ...         ...   ...     ...    ...    ...    ...    ...
6412  Taipei  2021-03-26  6.30  301821 -0.032 -0.095    NaN    NaN
6413  Taipei  2021-03-27  6.10  306953 -0.066 -0.016    NaN    NaN
6414  Taipei  2021-03-28  5.70  286411  0.000    NaN    NaN    NaN
6415  Taipei  2021-03-30  5.70  286883  0.053    NaN    NaN    NaN
6416  Taipei  2021-03-31  6.00  249221    NaN    NaN    NaN    NaN

[6417 rows x 8 columns]

In [12]:
# df2=df1.iloc[:,[0,1,2,3,5]]
# df2

In [4]:
import numpy as np
df1['T+1_label']=np.nan
df1['T+3_label']=np.nan
df1['T+5_label']=np.nan
df1['T+7_label']=np.nan

In [5]:
df1

,市場代號,交易日期,中價平均,交易量加總,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Taipei,2000-01-02,7.60,240616,-0.164,-0.099,-0.026,-0.421,NaN,NaN,NaN,NaN
1,Taipei,2000-01-03,6.35,213283,-0.150,0.134,0.142,-0.386,NaN,NaN,NaN,NaN
2,Taipei,2000-01-04,5.40,156684,0.269,0.370,-0.185,-0.139,NaN,NaN,NaN,NaN
3,Taipei,2000-01-05,6.85,143499,0.051,0.058,-0.431,-0.219,NaN,NaN,NaN,NaN
4,Taipei,2000-01-06,7.20,143662,0.028,-0.389,-0.354,-0.257,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6412,Taipei,2021-03-26,6.30,301821,-0.032,-0.095,NaN,NaN,NaN,NaN,NaN,NaN
6413,Taipei,2021-03-27,6.10,306953,-0.066,-0.016,NaN,NaN,NaN,NaN,NaN,NaN
6414,Taipei,2021-03-28,5.70,286411,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6415,Taipei,2021-03-30,5.70,286883,0.053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6416,Taipei,2021-03-31,6.00,249221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# ma=(df1['T+1'])>=0.5
# df1.iloc[:,-4][ma]=7

# ma=(df1['T+3'])>=0.5
# df1.iloc[:,-3][ma]=7

# ma=(df1['T+5'])>=0.5
# df1.iloc[:,-2][ma]=7

# ma=(df1['T+7'])>=0.5
# df1.iloc[:,-1][ma]=7

In [6]:
# ma=(df1['T+1'])>=0.5
# df1.iloc[:,-4][ma]

# ma=(df1['T+3'])>=0.5
# df1.iloc[:,-3][ma]

# ma=(df1['T+5'])>=0.5
# df1.iloc[:,-2][ma]

# ma=(df1['T+7'])>=0.5
# df1.iloc[:,-1][ma]

In [7]:
# ma1=df1['T+1']>=0.25
# ma2=df1['T+1']<0.5
# df1.iloc[:,-4][ma1&ma2]=6

# ma1=df1['T+3']>=0.25
# ma2=df1['T+3']<0.5
# df1.iloc[:,-3][ma1&ma2]=6

# ma1=df1['T+5']>=0.25
# ma2=df1['T+5']<0.5
# df1.iloc[:,-2][ma1&ma2]=6

# ma1=df1['T+7']>=0.25
# ma2=df1['T+7']<0.5
# df1.iloc[:,-1][ma1&ma2]=6

In [6]:
# ma3=df1['T+1']>=0.1
# ma4=df1['T+1']<0.25
# df1.iloc[:,-4][ma3&ma4]=5

# ma3=df1['T+3']>=0.1
# ma4=df1['T+3']<0.25
# df1.iloc[:,-3][ma3&ma4]=5

# ma3=df1['T+5']>=0.1
# ma4=df1['T+5']<0.25
# df1.iloc[:,-2][ma3&ma4]=5

# ma3=df1['T+7']>=0.1
# ma4=df1['T+7']<0.25
# df1.iloc[:,-1][ma3&ma4]=5

# ------------新修改版-------------

ma3=df1['T+1']>0.25
df1.iloc[:,-4][ma3]=5

ma3=df1['T+3']>0.25
df1.iloc[:,-3][ma3]=5

ma3=df1['T+5']>0.25
df1.iloc[:,-2][ma3]=5

ma3=df1['T+7']>0.25
df1.iloc[:,-1][ma3]=5

<ipython-input-6-180685faaaf5>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-4][ma3]=5
<ipython-input-6-180685faaaf5>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-3][ma3]=5
<ipython-input-6-180685faaaf5>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-2][ma3]=5
<ipython-input-6-180685faaaf5>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-1][ma3]=5

In [7]:
ma5=df1['T+1']>0.05
ma6=df1['T+1']<=0.25
df1.iloc[:,-4][ma5&ma6]=4

ma5=df1['T+3']>0.05
ma6=df1['T+3']<=0.25
df1.iloc[:,-3][ma5&ma6]=4

ma5=df1['T+5']>0.05
ma6=df1['T+5']<=0.25
df1.iloc[:,-2][ma5&ma6]=4

ma5=df1['T+7']>0.05
ma6=df1['T+7']<=0.25
df1.iloc[:,-1][ma5&ma6]=4

<ipython-input-7-be5b2102721a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-4][ma5&ma6]=4
<ipython-input-7-be5b2102721a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-3][ma5&ma6]=4
<ipython-input-7-be5b2102721a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-2][ma5&ma6]=4
<ipython-input-7-be5b2102721a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-1][ma5&ma6]=4

In [8]:
# ma7=df1['T+1']>=-0.25
# ma8=df1['T+1']<-0.1
# df1.iloc[:,-4][ma7&ma8]=3

# ma7=df1['T+3']>=-0.25
# ma8=df1['T+3']<-0.1
# df1.iloc[:,-3][ma7&ma8]=3

# ma7=df1['T+5']>=-0.25
# ma8=df1['T+5']<-0.1
# df1.iloc[:,-2][ma7&ma8]=3

# ma7=df1['T+7']>=-0.25
# ma8=df1['T+7']<-0.1
# df1.iloc[:,-1][ma7&ma8]=3

# -------------new---------------

ma7=df1['T+1']>=-0.05
ma8=df1['T+1']<=0.05
df1.iloc[:,-4][ma7&ma8]=3

ma7=df1['T+3']>=-0.05
ma8=df1['T+3']<=0.05
df1.iloc[:,-3][ma7&ma8]=3

ma7=df1['T+5']>=-0.05
ma8=df1['T+5']<=0.05
df1.iloc[:,-2][ma7&ma8]=3

ma7=df1['T+7']>=-0.05
ma8=df1['T+7']<=0.05
df1.iloc[:,-1][ma7&ma8]=3

<ipython-input-8-38a6db2b1643>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-4][ma7&ma8]=3
<ipython-input-8-38a6db2b1643>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-3][ma7&ma8]=3
<ipython-input-8-38a6db2b1643>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-2][ma7&ma8]=3
<ipython-input-8-38a6db2b1643>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-1][ma7&ma8]=3

In [9]:
# ma9=df1['T+1']>=-0.5
# ma10=df1['T+1']<-0.25
# df1.iloc[:,-4][ma9&ma10]=2

# ma9=df1['T+3']>=-0.5
# ma10=df1['T+3']<-0.25
# df1.iloc[:,-3][ma9&ma10]=2

# ma9=df1['T+5']>=-0.5
# ma10=df1['T+5']<-0.25
# df1.iloc[:,-2][ma9&ma10]=2

# ma9=df1['T+7']>=-0.5
# ma10=df1['T+7']<-0.25
# df1.iloc[:,-1][ma9&ma10]=2

# ------------new------------

ma9=df1['T+1']>=-0.25
ma10=df1['T+1']<-0.05
df1.iloc[:,-4][ma9&ma10]=2

ma9=df1['T+3']>=-0.25
ma10=df1['T+3']<-0.05
df1.iloc[:,-3][ma9&ma10]=2

ma9=df1['T+5']>=-0.25
ma10=df1['T+5']<-0.05
df1.iloc[:,-2][ma9&ma10]=2

ma9=df1['T+7']>=-0.25
ma10=df1['T+7']<-0.05
df1.iloc[:,-1][ma9&ma10]=2

<ipython-input-9-0321967d68f1>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-4][ma9&ma10]=2
<ipython-input-9-0321967d68f1>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-3][ma9&ma10]=2
<ipython-input-9-0321967d68f1>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-2][ma9&ma10]=2
<ipython-input-9-0321967d68f1>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-1][ma9&ma10]=2

In [10]:
# ma11=df1['T+1']<-0.5
# df1.iloc[:,-4][ma11]=1

# ma11=df1['T+3']<-0.5
# df1.iloc[:,-3][ma11]=1

# ma11=df1['T+5']<-0.5
# df1.iloc[:,-2][ma11]=1

# ma11=df1['T+7']<-0.5
# df1.iloc[:,-1][ma11]=1

# --------------new-------------

ma11=df1['T+1']<-0.25
df1.iloc[:,-4][ma11]=1

ma11=df1['T+3']<-0.25
df1.iloc[:,-3][ma11]=1

ma11=df1['T+5']<-0.25
df1.iloc[:,-2][ma11]=1

ma11=df1['T+7']<-0.25
df1.iloc[:,-1][ma11]=1

<ipython-input-10-b99636c351e6>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-4][ma11]=1
<ipython-input-10-b99636c351e6>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-3][ma11]=1
<ipython-input-10-b99636c351e6>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-2][ma11]=1
<ipython-input-10-b99636c351e6>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.iloc[:,-1][ma11]=1

In [11]:
# df2[ma9&ma10]
df1[ma11]

,市場代號,交易日期,中價平均,交易量加總,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Taipei,2000-01-02,7.60,240616,-0.164,-0.099,-0.026,-0.421,2.0,2.0,3.0,1.0
1,Taipei,2000-01-03,6.35,213283,-0.150,0.134,0.142,-0.386,2.0,4.0,4.0,1.0
4,Taipei,2000-01-06,7.20,143662,0.028,-0.389,-0.354,-0.257,3.0,1.0,1.0,1.0
5,Taipei,2000-01-07,7.40,149370,-0.020,-0.473,-0.277,-0.439,3.0,1.0,1.0,1.0
6,Taipei,2000-01-08,7.25,200549,-0.393,-0.359,-0.262,-0.303,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6375,Taipei,2021-02-03,9.35,321435,0.027,-0.096,-0.283,-0.369,3.0,2.0,1.0,1.0
6376,Taipei,2021-02-04,9.60,364034,-0.010,-0.323,0.042,-0.422,3.0,1.0,3.0,1.0
6377,Taipei,2021-02-06,9.50,391533,-0.111,-0.295,-0.379,-0.463,2.0,1.0,1.0,1.0
6378,Taipei,2021-02-07,8.45,363547,-0.231,0.183,-0.343,-0.254,2.0,4.0,1.0,1.0
6381,Taipei,2021-02-10,10.00,324501,-0.410,-0.490,-0.460,-0.520,1.0,1.0,1.0,1.0

In [12]:
df1

,市場代號,交易日期,中價平均,交易量加總,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Taipei,2000-01-02,7.60,240616,-0.164,-0.099,-0.026,-0.421,2.0,2.0,3.0,1.0
1,Taipei,2000-01-03,6.35,213283,-0.150,0.134,0.142,-0.386,2.0,4.0,4.0,1.0
2,Taipei,2000-01-04,5.40,156684,0.269,0.370,-0.185,-0.139,5.0,5.0,2.0,2.0
3,Taipei,2000-01-05,6.85,143499,0.051,0.058,-0.431,-0.219,4.0,4.0,1.0,2.0
4,Taipei,2000-01-06,7.20,143662,0.028,-0.389,-0.354,-0.257,3.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6412,Taipei,2021-03-26,6.30,301821,-0.032,-0.095,NaN,NaN,3.0,2.0,NaN,NaN
6413,Taipei,2021-03-27,6.10,306953,-0.066,-0.016,NaN,NaN,2.0,3.0,NaN,NaN
6414,Taipei,2021-03-28,5.70,286411,0.000,NaN,NaN,NaN,3.0,NaN,NaN,NaN
6415,Taipei,2021-03-30,5.70,286883,0.053,NaN,NaN,NaN,4.0,NaN,NaN,NaN
6416,Taipei,2021-03-31,6.00,249221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df1.isnull().sum()

市場代號         0
交易日期         0
中價平均         0
交易量加總        0
T+1          1
T+3          3
T+5          5
T+7          7
T+1_label    1
T+3_label    3
T+5_label    5
T+7_label    7
dtype: int64

In [15]:
# df1.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/蔬菜label/LF2_lable_all.csv',index=False)
df1.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/蔬菜label/new_LA1_lable_all.csv',index=False)

# 以下為合併

In [1]:
import pandas as pd
df=pd.read_csv("/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/last_no_nan.csv",low_memory=False)
df

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification
0,Changhua,467270,田中,2020-04-09,1011.100000,22.100000,77.000000,41.000000,2.100000,330.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
1,Changhua,467270,田中,2020-04-10,1012.400000,23.700000,75.000000,41.000000,1.300000,310.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
2,Changhua,467270,田中,2020-04-11,1009.900000,22.400000,83.000000,48.000000,1.500000,340.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
3,Changhua,467270,田中,2020-04-12,1010.400000,18.800000,71.000000,48.000000,3.400000,360.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
4,Changhua,467270,田中,2020-04-13,1012.700000,17.700000,50.000000,19.000000,2.800000,340.000000,...,0,0,0,0,0,0,無,48.6,low_altitude,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yunlin,C1K540,口湖,2021-03-27,1007.768182,23.100000,76.590909,52.500000,1.068182,145.500000,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412410,Yunlin,C1K540,口湖,2021-03-28,1005.054545,25.000000,76.363636,57.772727,1.300000,170.727273,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412411,Yunlin,C1K540,口湖,2021-03-29,1004.054545,24.936364,79.727273,58.272727,1.218182,134.409091,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412412,Yunlin,C1K540,口湖,2021-03-30,1003.245455,25.700000,81.818182,63.409091,1.431818,166.727273,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0
2412413,Yunlin,C1K540,口湖,2021-03-31,1003.595455,25.704545,82.818182,61.095238,1.313636,138.272727,...,0,0,0,0,0,0,無,15.0,low_altitude,4.0

In [8]:
# veg=pd.read_csv("/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/蔬菜label/LF2_lable_all.csv")
veg=pd.read_csv("/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/蔬菜label/new_LA1_lable_all.csv")
veg

,市場代號,交易日期,中價平均,交易量加總,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Taipei,2000-01-02,7.60,240616,-0.164,-0.099,-0.026,-0.421,2.0,2.0,3.0,1.0
1,Taipei,2000-01-03,6.35,213283,-0.150,0.134,0.142,-0.386,2.0,4.0,4.0,1.0
2,Taipei,2000-01-04,5.40,156684,0.269,0.370,-0.185,-0.139,5.0,5.0,2.0,2.0
3,Taipei,2000-01-05,6.85,143499,0.051,0.058,-0.431,-0.219,4.0,4.0,1.0,2.0
4,Taipei,2000-01-06,7.20,143662,0.028,-0.389,-0.354,-0.257,3.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6412,Taipei,2021-03-26,6.30,301821,-0.032,-0.095,NaN,NaN,3.0,2.0,NaN,NaN
6413,Taipei,2021-03-27,6.10,306953,-0.066,-0.016,NaN,NaN,2.0,3.0,NaN,NaN
6414,Taipei,2021-03-28,5.70,286411,0.000,NaN,NaN,NaN,3.0,NaN,NaN,NaN
6415,Taipei,2021-03-30,5.70,286883,0.053,NaN,NaN,NaN,4.0,NaN,NaN,NaN
6416,Taipei,2021-03-31,6.00,249221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
veg.describe()

,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
count,6417.000000,6417.000000,6416.000000,6414.000000,6412.000000,6410.000000,6416.000000,6414.000000,6412.000000,6410.000000
mean,16.669472,165344.719807,0.012624,0.032403,0.039863,0.052175,3.039433,3.054412,3.069401,3.087207
std,11.516655,82346.648501,0.165680,0.270317,0.303069,0.346817,0.986663,1.275298,1.334315,1.413124
min,2.100000,460.000000,-0.613000,-0.754000,-0.748000,-0.802000,1.000000,1.000000,1.000000,1.000000
25%,7.100000,96663.000000,-0.086250,-0.137000,-0.150250,-0.168000,2.000000,2.000000,2.000000,2.000000
50%,13.850000,162449.000000,-0.002000,0.003000,0.006000,0.012000,3.000000,3.000000,3.000000,3.000000
75%,24.100000,222414.000000,0.091000,0.160000,0.181250,0.215000,4.000000,4.000000,4.000000,4.000000
max,71.950000,533473.000000,1.296000,2.645000,2.667000,2.994000,5.000000,5.000000,5.000000,5.000000

In [9]:
# veg.columns=['Market','ObservDay_time','MediumAvgPrice','TradingVolume','T+1','T+3','T+5','T+7','T+1_label','T+3_label','T+5_label','T+7_label']

In [11]:
# df.isnull().sum()
veg.isnull().sum()

Market            0
ObservDay_time    0
MediumAvgPrice    0
TradingVolume     0
T+1               1
T+3               3
T+5               5
T+7               7
T+1_label         1
T+3_label         3
T+5_label         5
T+7_label         7
dtype: int64

In [12]:
ma=veg['ObservDay_time']=='2011-10-31'
veg[ma]

Empty DataFrame
Columns: [Market, ObservDay_time, MediumAvgPrice, TradingVolume, T+1, T+3, T+5, T+7, T+1_label, T+3_label, T+5_label, T+7_label]
Index: []

In [13]:
last_df=pd.merge(df,veg,on=['ObservDay_time'],how='outer')

In [14]:
last_df

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Changhua,467270,田中,2020-04-09,1011.100000,22.1,77.000000,41.000000,2.10,330.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
1,Changhua,C0G620,芬園,2020-04-09,1003.200000,22.0,75.000000,32.000000,1.40,7.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
2,Changhua,C0G640,鹿港,2020-04-09,1017.300000,21.2,73.000000,54.000000,2.40,8.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
3,Changhua,C0G650,員林,2020-04-09,1012.200000,22.5,79.000000,37.000000,0.80,332.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
4,Changhua,C0G660,溪湖,2020-04-09,1014.800000,22.1,71.000000,41.000000,2.50,4.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412409,Yilan,C1U840,東澳嶺,2011-10-31,886.250000,14.5,83.954545,71.651515,0.15,142.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2412410,Yilan,C1U850,觀音海岸,2011-10-31,886.250000,14.5,83.954545,71.651515,0.15,142.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2412411,Yunlin,C0K280,四湖,2011-10-31,1003.017243,23.4,73.428357,61.934517,3.70,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2412412,Yunlin,C0K291,宜梧,2011-10-31,1003.017243,23.4,73.428357,61.934517,3.00,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2412413,Yunlin,C0K330,虎尾,2011-10-31,1003.017243,23.8,73.428357,61.934517,1.60,330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
last_df.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                     object
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
locate_classification      float64
Market                      object
MediumAvgPrice             float64
TradingVolume              float64
T+1                        float64
T+3                        float64
T+5                        float64
T+7                        float64
T+1_label                  float64
T+3_label                  float64
T+5_label                  float64
T+7_label                  float64
dtype: object

In [16]:
last_df['ty_path'].unique()

array(['0', '---', '5', '9', '1', '2', '特殊', '6', '3', '4', '7', '8'],
      dtype=object)

In [17]:
last_df['ty_path']=last_df['ty_path'].replace('特殊',99)
last_df['ty_path']=last_df['ty_path'].replace('---',0)

In [18]:
last_df['ty_path']=last_df['ty_path'].astype(int)

In [19]:
last_df.isnull().sum()

locate                          0
StationCode                     0
StationNmae                     0
ObservDay_time                  0
StnPres                         0
Temperature                     0
RH                              0
RHMin                           0
WS                              0
WD                              0
WSGust                          0
WDGust                          0
Precp                           0
ty_generate                     0
sea_warning                     0
land_warning                    0
ty_strength                     0
ty_path                         0
festival_count                  0
festival                        0
altitude                        0
altitude_classification         0
locate_classification           0
Market                     424786
MediumAvgPrice             424786
TradingVolume              424786
T+1                        425381
T+3                        426569
T+5                        427759
T+7                        428949
T+1_label                  425381
T+3_label                  426569
T+5_label                  427759
T+7_label                  428949
dtype: int64

In [20]:
len(last_df.columns)

34

In [21]:
df2=last_df.dropna(thresh=34)

In [22]:
df2

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Changhua,467270,田中,2020-04-09,1011.100000,22.10,77.000000,41.000000,2.10,330.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
1,Changhua,C0G620,芬園,2020-04-09,1003.200000,22.00,75.000000,32.000000,1.40,7.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
2,Changhua,C0G640,鹿港,2020-04-09,1017.300000,21.20,73.000000,54.000000,2.40,8.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
3,Changhua,C0G650,員林,2020-04-09,1012.200000,22.50,79.000000,37.000000,0.80,332.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
4,Changhua,C0G660,溪湖,2020-04-09,1014.800000,22.10,71.000000,41.000000,2.50,4.0,...,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412196,Yilan,C1U840,東澳嶺,2011-10-30,885.550000,13.95,84.696970,70.803030,0.25,159.0,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0
2412197,Yilan,C1U850,觀音海岸,2011-10-30,885.550000,13.95,84.696970,70.803030,0.25,159.0,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0
2412198,Yunlin,C0K280,四湖,2011-10-30,1002.310135,23.50,72.868998,61.536329,3.20,20.0,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0
2412199,Yunlin,C0K291,宜梧,2011-10-30,1002.310135,23.50,72.868998,61.536329,3.00,10.0,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0
2412200,Yunlin,C0K330,虎尾,2011-10-30,1002.310135,23.80,72.868998,61.536329,1.20,330.0,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0

In [23]:
df2.isnull().sum()

locate                     0
StationCode                0
StationNmae                0
ObservDay_time             0
StnPres                    0
Temperature                0
RH                         0
RHMin                      0
WS                         0
WD                         0
WSGust                     0
WDGust                     0
Precp                      0
ty_generate                0
sea_warning                0
land_warning               0
ty_strength                0
ty_path                    0
festival_count             0
festival                   0
altitude                   0
altitude_classification    0
locate_classification      0
Market                     0
MediumAvgPrice             0
TradingVolume              0
T+1                        0
T+3                        0
T+5                        0
T+7                        0
T+1_label                  0
T+3_label                  0
T+5_label                  0
T+7_label                  0
dtype: int64

In [24]:
df2.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                      int64
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
locate_classification      float64
Market                      object
MediumAvgPrice             float64
TradingVolume              float64
T+1                        float64
T+3                        float64
T+5                        float64
T+7                        float64
T+1_label                  float64
T+3_label                  float64
T+5_label                  float64
T+7_label                  float64
dtype: object

In [25]:
df2['month']=df2['ObservDay_time'].apply(lambda x:x[5:7])
# df2['ObservDay_time'].apply(lambda x:x[5:7])

<ipython-input-25-e268ae6eb94a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['month']=df2['ObservDay_time'].apply(lambda x:x[5:7])

In [26]:
df2

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,...,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
0,Changhua,467270,田中,2020-04-09,1011.100000,22.10,77.000000,41.000000,2.10,330.0,...,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,04
1,Changhua,C0G620,芬園,2020-04-09,1003.200000,22.00,75.000000,32.000000,1.40,7.0,...,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,04
2,Changhua,C0G640,鹿港,2020-04-09,1017.300000,21.20,73.000000,54.000000,2.40,8.0,...,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,04
3,Changhua,C0G650,員林,2020-04-09,1012.200000,22.50,79.000000,37.000000,0.80,332.0,...,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,04
4,Changhua,C0G660,溪湖,2020-04-09,1014.800000,22.10,71.000000,41.000000,2.50,4.0,...,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412196,Yilan,C1U840,東澳嶺,2011-10-30,885.550000,13.95,84.696970,70.803030,0.25,159.0,...,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412197,Yilan,C1U850,觀音海岸,2011-10-30,885.550000,13.95,84.696970,70.803030,0.25,159.0,...,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412198,Yunlin,C0K280,四湖,2011-10-30,1002.310135,23.50,72.868998,61.536329,3.20,20.0,...,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412199,Yunlin,C0K291,宜梧,2011-10-30,1002.310135,23.50,72.868998,61.536329,3.00,10.0,...,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412200,Yunlin,C0K330,虎尾,2011-10-30,1002.310135,23.80,72.868998,61.536329,1.20,330.0,...,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10

In [27]:
df2['month']=df2['month'].astype(int)

<ipython-input-27-3766d52e3946>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['month']=df2['month'].astype(int)

In [33]:
# drop 高海拔的部分

# high_al=df2[df2['altitude_classification']=='high_altitude'].index
# df3=df2.drop(high_al)

In [27]:
# df3

In [28]:
li=df2['locate'].unique()
for i in li:
    ma=df2['locate']==i
    print(i,len(df2[ma]['ObservDay_time'].unique()))

Changhua 6328
Chiayi 6410
Hsinchu 6410
Hualien 6410
Kaohsiung 6410
Keelung 6410
Miaoli 6410
Nantou 6410
New_TaipeiCity 6410
Pingtung 6410
Taichung 6410
Tainan 6410
Taipei 6410
Taitung 6410
Taoyuan 6410
Yilan 6410
Yunlin 6410

In [29]:
df3=df2

In [30]:
pd.set_option('display.max_columns', None)
df3.describe().astype(int)

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,altitude,locate_classification,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
count,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465,1983465
mean,961,21,80,62,1,140,8,182,6,0,0,0,0,0,0,500,3,18,173128,0,0,0,0,3,3,3,3,6
std,75,5,10,14,1,103,3,103,24,0,0,0,0,4,0,708,1,12,88517,0,0,0,0,0,1,1,1,3
min,532,-11,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,2,460,0,0,0,0,1,1,1,1,1
25%,931,17,75,54,0,48,5,91,0,0,0,0,0,0,0,40,2,7,95045,0,0,0,0,2,2,2,2,4
50%,995,21,81,62,1,126,7,192,0,0,0,0,0,0,0,190,3,15,174826,0,0,0,0,3,3,3,3,7
75%,1007,25,87,71,2,215,9,269,2,1,0,0,0,0,0,718,5,26,238088,0,0,0,0,4,4,4,4,10
max,1061,38,100,105,33,360,37,360,1402,1,1,1,3,99,1,3860,6,71,533473,1,2,2,2,5,5,5,5,12

In [31]:
ma=df2['altitude_classification']=='low_altitude'
df3=df2[ma]

In [32]:
df3

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification,Market,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
0,Changhua,467270,田中,2020-04-09,1011.100000,22.100,77.000000,41.000000,2.10,330.000,9.4000,340.000000,0.0,0,0,0,0,0,0,無,48.6,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
1,Changhua,C0G620,芬園,2020-04-09,1003.200000,22.000,75.000000,32.000000,1.40,7.000,8.8000,341.000000,0.0,0,0,0,0,0,0,無,110.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
2,Changhua,C0G640,鹿港,2020-04-09,1017.300000,21.200,73.000000,54.000000,2.40,8.000,9.8000,7.000000,0.0,0,0,0,0,0,0,無,17.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
3,Changhua,C0G650,員林,2020-04-09,1012.200000,22.500,79.000000,37.000000,0.80,332.000,7.2000,351.000000,0.0,0,0,0,0,0,0,無,34.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
4,Changhua,C0G660,溪湖,2020-04-09,1014.800000,22.100,71.000000,41.000000,2.50,4.000,9.5000,332.000000,0.0,0,0,0,0,0,0,無,27.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412193,Yilan,C1U670,寒溪,2011-10-30,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,6.0,0,0,0,0,0,0,無,105.0,low_altitude,1.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412194,Yilan,C1U690,新寮,2011-10-30,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,13.0,0,0,0,0,0,0,無,101.0,low_altitude,1.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412198,Yunlin,C0K280,四湖,2011-10-30,1002.310135,23.500,72.868998,61.536329,3.20,20.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,23.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412199,Yunlin,C0K291,宜梧,2011-10-30,1002.310135,23.500,72.868998,61.536329,3.00,10.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,8.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412200,Yunlin,C0K330,虎尾,2011-10-30,1002.310135,23.800,72.868998,61.536329,1.20,330.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,38.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10

In [33]:
df3.describe()

,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,altitude,locate_classification,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
count,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06,1.356259e+06
mean,1.000779e+03,2.312717e+01,7.932997e+01,6.210171e+01,1.792899e+00,1.353555e+02,8.650856e+00,1.752535e+02,6.059377e+00,3.275908e-01,4.617850e-02,2.678839e-02,5.225551e-02,2.578055e-01,1.074721e-02,1.295034e+02,3.422716e+00,1.820012e+01,1.737429e+05,1.218837e-02,3.081089e-02,3.867335e-02,5.046887e-02,3.035318e+00,3.050047e+00,3.069173e+00,3.084548e+00,6.545318e+00
std,1.362588e+01,4.845494e+00,8.981704e+00,1.246990e+01,1.470066e+00,1.105070e+02,3.791797e+00,1.112832e+02,2.201460e+01,4.693349e-01,2.098716e-01,1.614645e-01,3.366144e-01,4.202460e+00,1.031102e-01,1.316949e+02,1.785268e+00,1.218677e+01,8.915740e+04,1.643754e-01,2.646741e-01,3.016305e-01,3.464715e-01,9.795270e-01,1.262444e+00,1.334578e+00,1.408633e+00,3.472914e+00
min,5.823000e+02,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,2.100000e+00,4.600000e+02,-6.130000e-01,-7.540000e-01,-7.480000e-01,-8.020000e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,9.945000e+02,1.950345e+01,7.400000e+01,5.400000e+01,9.000000e-01,3.500000e+01,6.200000e+00,7.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.700000e+01,2.000000e+00,7.800000e+00,9.462800e+04,-8.700000e-02,-1.370000e-01,-1.510000e-01,-1.690000e-01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
50%,1.003700e+03,2.390000e+01,7.900000e+01,6.200000e+01,1.480000e+00,1.100000e+02,7.900000e+00,1.760000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.400000e+01,3.000000e+00,1.520000e+01,1.760410e+05,-4.000000e-03,1.000000e-03,6.000000e-03,1.300000e-02,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,7.000000e+00
75%,1.010100e+03,2.720000e+01,8.500000e+01,6.900000e+01,2.200000e+00,2.190000e+02,1.030000e+01,2.750000e+02,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.090000e+02,5.000000e+00,2.680000e+01,2.395400e+05,8.800000e-02,1.580000e-01,1.820000e-01,2.110000e-01,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,1.000000e+01
max,1.061900e+03,3.880000e+01,1.000000e+02,1.000000e+02,3.360000e+01,3.600000e+02,3.700000e+01,3.600000e+02,1.206000e+03,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,9.900000e+01,1.000000e+00,4.980000e+02,6.000000e+00,7.195000e+01,5.334730e+05,1.296000e+00,2.645000e+00,2.667000e+00,2.994000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,1.200000e+01

In [34]:
df4=df3

In [35]:
print(len(df4[df4['T+1_label']==1]),len(df4[df4['T+1_label']==2]),len(df4[df4['T+1_label']==3]),len(df4[df4['T+1_label']==4]),len(df4[df4['T+1_label']==5]),len(df4[df4['T+1_label']==6]),len(df4[df4['T+1_label']==7]))
print(len(df4[df4['T+3_label']==1]),len(df4[df4['T+3_label']==2]),len(df4[df4['T+3_label']==3]),len(df4[df4['T+3_label']==4]),len(df4[df4['T+3_label']==5]),len(df4[df4['T+3_label']==6]),len(df4[df4['T+3_label']==7]))
print(len(df4[df4['T+5_label']==1]),len(df4[df4['T+5_label']==2]),len(df4[df4['T+5_label']==3]),len(df4[df4['T+5_label']==4]),len(df4[df4['T+5_label']==5]),len(df4[df4['T+5_label']==6]),len(df4[df4['T+5_label']==7]))
print(len(df4[df4['T+7_label']==1]),len(df4[df4['T+7_label']==2]),len(df4[df4['T+7_label']==3]),len(df4[df4['T+7_label']==4]),len(df4[df4['T+7_label']==5]),len(df4[df4['T+7_label']==6]),len(df4[df4['T+7_label']==7]))

37554 427420 428316 375509 87460 0 0
149830 392957 259070 348310 206092 0 0
182048 369021 227243 328961 248986 0 0
224502 330441 196343 315832 289141 0 0

LA1:
1098 36456 252984 761728 215406 69308 19279
6903 142927 270094 492792 236232 133945 73366
14326 167722 264525 432949 226747 165734 84256
33403 191099 239192 375621 226299 177520 113125
<!--  -->
LF2:
1991 37233 224615 797235 227246 57044 11400
19735 177276 247368 413878 238854 168601 91052
50833 230759 222719 306699 175135 196867 173752
79874 248651 203598 262622 160924 173510 227585
<!--  -->
FF1:
1991 37233 224615 797235 227246 57044 11400
19735 177276 247368 413878 238854 168601 91052
50833 230759 222719 306699 175135 196867 173752
79874 248651 203598 262622 160924 173510 227585
<!--  -->
new LA1:
37554 427420 428316 375509 87460 0 0
149830 392957 259070 348310 206092 0 0
182048 369021 227243 328961 248986 0 0
224502 330441 196343 315832 289141 0 0

In [36]:
li=df3['locate'].unique()
for i in li:
    ma=df2['locate']==i
    print(i,len(df2[ma]['ObservDay_time'].unique()))

Changhua 6328
Chiayi 6410
Hsinchu 6410
Hualien 6410
Kaohsiung 6410
Keelung 6410
Miaoli 6410
Nantou 6410
New_TaipeiCity 6410
Pingtung 6410
Taichung 6410
Tainan 6410
Taipei 6410
Taitung 6410
Taoyuan 6410
Yilan 6410
Yunlin 6410

In [37]:
df3

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification,Market,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
0,Changhua,467270,田中,2020-04-09,1011.100000,22.100,77.000000,41.000000,2.10,330.000,9.4000,340.000000,0.0,0,0,0,0,0,0,無,48.6,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
1,Changhua,C0G620,芬園,2020-04-09,1003.200000,22.000,75.000000,32.000000,1.40,7.000,8.8000,341.000000,0.0,0,0,0,0,0,0,無,110.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
2,Changhua,C0G640,鹿港,2020-04-09,1017.300000,21.200,73.000000,54.000000,2.40,8.000,9.8000,7.000000,0.0,0,0,0,0,0,0,無,17.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
3,Changhua,C0G650,員林,2020-04-09,1012.200000,22.500,79.000000,37.000000,0.80,332.000,7.2000,351.000000,0.0,0,0,0,0,0,0,無,34.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
4,Changhua,C0G660,溪湖,2020-04-09,1014.800000,22.100,71.000000,41.000000,2.50,4.000,9.5000,332.000000,0.0,0,0,0,0,0,0,無,27.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412193,Yilan,C1U670,寒溪,2011-10-30,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,6.0,0,0,0,0,0,0,無,105.0,low_altitude,1.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412194,Yilan,C1U690,新寮,2011-10-30,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,13.0,0,0,0,0,0,0,無,101.0,low_altitude,1.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412198,Yunlin,C0K280,四湖,2011-10-30,1002.310135,23.500,72.868998,61.536329,3.20,20.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,23.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412199,Yunlin,C0K291,宜梧,2011-10-30,1002.310135,23.500,72.868998,61.536329,3.00,10.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,8.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412200,Yunlin,C0K330,虎尾,2011-10-30,1002.310135,23.800,72.868998,61.536329,1.20,330.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,38.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10

In [38]:
# month=df3.pop('month')
# df3.insert(4,'month',month)

In [38]:
df3

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification,Market,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
0,Changhua,467270,田中,2020-04-09,1011.100000,22.100,77.000000,41.000000,2.10,330.000,9.4000,340.000000,0.0,0,0,0,0,0,0,無,48.6,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
1,Changhua,C0G620,芬園,2020-04-09,1003.200000,22.000,75.000000,32.000000,1.40,7.000,8.8000,341.000000,0.0,0,0,0,0,0,0,無,110.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
2,Changhua,C0G640,鹿港,2020-04-09,1017.300000,21.200,73.000000,54.000000,2.40,8.000,9.8000,7.000000,0.0,0,0,0,0,0,0,無,17.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
3,Changhua,C0G650,員林,2020-04-09,1012.200000,22.500,79.000000,37.000000,0.80,332.000,7.2000,351.000000,0.0,0,0,0,0,0,0,無,34.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
4,Changhua,C0G660,溪湖,2020-04-09,1014.800000,22.100,71.000000,41.000000,2.50,4.000,9.5000,332.000000,0.0,0,0,0,0,0,0,無,27.0,low_altitude,3.0,Taipei,9.5,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412193,Yilan,C1U670,寒溪,2011-10-30,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,6.0,0,0,0,0,0,0,無,105.0,low_altitude,1.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412194,Yilan,C1U690,新寮,2011-10-30,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,13.0,0,0,0,0,0,0,無,101.0,low_altitude,1.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412198,Yunlin,C0K280,四湖,2011-10-30,1002.310135,23.500,72.868998,61.536329,3.20,20.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,23.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412199,Yunlin,C0K291,宜梧,2011-10-30,1002.310135,23.500,72.868998,61.536329,3.00,10.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,8.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412200,Yunlin,C0K330,虎尾,2011-10-30,1002.310135,23.800,72.868998,61.536329,1.20,330.000,10.2666,132.082749,0.0,0,0,0,0,0,0,無,38.0,low_altitude,4.0,Taipei,13.1,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10

In [39]:
# df3.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/最後的檔案/FF1_low_altitude_finall_no_nan_hava_label_all.csv',index=False)
df3.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/20210526新版最後檔案/LA1_5lable.csv',index=False)

In [40]:
df3.dtypes

locate                      object
StationCode                 object
StationNmae                 object
ObservDay_time              object
StnPres                    float64
Temperature                float64
RH                         float64
RHMin                      float64
WS                         float64
WD                         float64
WSGust                     float64
WDGust                     float64
Precp                      float64
ty_generate                  int64
sea_warning                  int64
land_warning                 int64
ty_strength                  int64
ty_path                      int64
festival_count               int64
festival                    object
altitude                   float64
altitude_classification     object
locate_classification      float64
Market                      object
MediumAvgPrice             float64
TradingVolume              float64
T+1                        float64
T+3                        float64
T+5                        float64
T+7                        float64
T+1_label                  float64
T+3_label                  float64
T+5_label                  float64
T+7_label                  float64
month                        int64
dtype: object

In [41]:
df5=df3.iloc[:,[4,14,15,16,17,18,19,27,28,29,30,31,32,33,34]]
# df3=df2.iloc[:,[13,14,15,16,17,18,26]]
df5

,StnPres,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
0,1011.100000,0,0,0,0,0,無,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
1,1003.200000,0,0,0,0,0,無,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
2,1017.300000,0,0,0,0,0,無,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
3,1012.200000,0,0,0,0,0,無,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
4,1014.800000,0,0,0,0,0,無,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412193,1004.350000,0,0,0,0,0,無,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412194,1004.350000,0,0,0,0,0,無,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412198,1002.310135,0,0,0,0,0,無,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412199,1002.310135,0,0,0,0,0,無,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412200,1002.310135,0,0,0,0,0,無,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10

In [42]:
# df5.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/20210520/FF1_finall_int_no_nan_all_T.csv',index=False)
df5.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/20210526新版最後檔案/int_float兩個檔/LA1_int.csv',index=False)

In [43]:
te=df4.columns
for i,lo in enumerate(te):
    print(i,lo)

0 locate
1 StationCode
2 StationNmae
3 ObservDay_time
4 StnPres
5 Temperature
6 RH
7 RHMin
8 WS
9 WD
10 WSGust
11 WDGust
12 Precp
13 ty_generate
14 sea_warning
15 land_warning
16 ty_strength
17 ty_path
18 festival_count
19 festival
20 altitude
21 altitude_classification
22 locate_classification
23 Market
24 MediumAvgPrice
25 TradingVolume
26 T+1
27 T+3
28 T+5
29 T+7
30 T+1_label
31 T+3_label
32 T+5_label
33 T+7_label
34 month

In [44]:
df6=df3.iloc[:,[5,6,7,8,9,10,11,12,13,25,26,27,28,29,30,31,32,33,34]]
# df4=df2.iloc[:,[4,5,6,7,8,9,10,11,12,26]]
df6

,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
0,22.100,77.000000,41.000000,2.10,330.000,9.4000,340.000000,0.0,0,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
1,22.000,75.000000,32.000000,1.40,7.000,8.8000,341.000000,0.0,0,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
2,21.200,73.000000,54.000000,2.40,8.000,9.8000,7.000000,0.0,0,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
3,22.500,79.000000,37.000000,0.80,332.000,7.2000,351.000000,0.0,0,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
4,22.100,71.000000,41.000000,2.50,4.000,9.5000,332.000000,0.0,0,269804.0,0.021,0.053,0.079,0.168,3.0,4.0,4.0,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412193,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,6.0,0,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412194,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,13.0,0,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412198,23.500,72.868998,61.536329,3.20,20.000,10.2666,132.082749,0.0,0,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412199,23.500,72.868998,61.536329,3.00,10.000,10.2666,132.082749,0.0,0,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10
2412200,23.800,72.868998,61.536329,1.20,330.000,10.2666,132.082749,0.0,0,135788.0,0.130,-0.233,-0.454,-0.260,4.0,2.0,1.0,1.0,10

In [46]:
# df6.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/20210520/FF1_finall_float_no_nan_all_T.csv',index=False)
df6.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/20210526新版最後檔案/int_float兩個檔/LA1_float.csv',index=False)

網頁資料搜尋

In [65]:
ma=df3['land_warning']==1
df4=df3[ma]
df4[df4['ObservDay_time']>'2020-11-01']

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification,Market,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
123110,Changhua,467270,田中,2020-11-05,1010.200000,23.600000,71.000000,46.000000,1.4,330.000000,7.900000,340.000000,0.0,1,1,1,1,5,0,無,48.6,low_altitude,3.0,Taipei,30.05,92083.0,-0.078,-0.111,0.067,-0.183,2.0,2.0,4.0,2.0,11
123111,Changhua,C0G620,芬園,2020-11-05,1002.400000,24.100000,71.000000,39.000000,1.1,59.000000,6.300000,340.000000,0.0,1,1,1,1,5,0,無,110.0,low_altitude,3.0,Taipei,30.05,92083.0,-0.078,-0.111,0.067,-0.183,2.0,2.0,4.0,2.0,11
123112,Changhua,C0G640,鹿港,2020-11-05,1015.100000,23.100000,70.000000,55.000000,3.8,13.000000,12.800000,23.000000,0.0,1,1,1,1,5,0,無,17.0,low_altitude,3.0,Taipei,30.05,92083.0,-0.078,-0.111,0.067,-0.183,2.0,2.0,4.0,2.0,11
123113,Changhua,C0G650,員林,2020-11-05,1011.400000,25.200000,67.000000,51.400000,0.6,331.000000,9.035000,189.150000,0.0,1,1,1,1,5,0,無,34.0,low_altitude,3.0,Taipei,30.05,92083.0,-0.078,-0.111,0.067,-0.183,2.0,2.0,4.0,2.0,11
123114,Changhua,C0G660,溪湖,2020-11-05,1014.500000,24.600000,67.000000,48.000000,2.1,2.000000,8.300000,354.000000,0.0,1,1,1,1,5,0,無,27.0,low_altitude,3.0,Taipei,30.05,92083.0,-0.078,-0.111,0.067,-0.183,2.0,2.0,4.0,2.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124887,Yunlin,C0K530,臺西,2020-11-07,1013.000000,23.300000,96.000000,91.000000,3.3,12.000000,15.300000,25.000000,2.5,1,1,1,1,5,0,無,12.0,low_altitude,4.0,Taipei,27.20,149900.0,-0.018,0.178,-0.097,-0.382,3.0,4.0,2.0,1.0,11
124888,Yunlin,C0K550,蔦松,2020-11-07,1012.800000,23.600000,95.000000,91.000000,1.5,5.000000,8.100000,332.000000,4.5,1,1,1,1,5,0,無,15.0,low_altitude,4.0,Taipei,27.20,149900.0,-0.018,0.178,-0.097,-0.382,3.0,4.0,2.0,1.0,11
124889,Yunlin,C0K560,棋山,2020-11-07,1001.500000,24.500000,90.000000,69.000000,0.7,345.000000,4.600000,241.000000,0.5,1,1,1,1,5,0,無,117.0,low_altitude,4.0,Taipei,27.20,149900.0,-0.018,0.178,-0.097,-0.382,3.0,4.0,2.0,1.0,11
124890,Yunlin,C0K580,高鐵雲林,2020-11-07,1012.200000,24.100000,93.000000,74.000000,1.7,4.000000,6.500000,343.000000,1.0,1,1,1,1,5,0,無,26.0,low_altitude,4.0,Taipei,27.20,149900.0,-0.018,0.178,-0.097,-0.382,3.0,4.0,2.0,1.0,11
124891,Yunlin,C1K540,口湖,2020-11-07,1009.831818,23.836364,93.952381,82.272727,2.1,63.909091,8.931818,98.090909,4.0,1,1,1,1,5,0,無,15.0,low_altitude,4.0,Taipei,27.20,149900.0,-0.018,0.178,-0.097,-0.382,3.0,4.0,2.0,1.0,11

In [68]:
ma1=df3['ObservDay_time']<='2020-11-20'
ma2=df3['ObservDay_time']>='2020-11-01'
dft=df3[ma1&ma2]
ma3=dft['StationNmae']=='臺北'
dft[ma3]

,locate,StationCode,StationNmae,ObservDay_time,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength,ty_path,festival_count,festival,altitude,altitude_classification,locate_classification,Market,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label,month
121194,Taipei,466920,臺北,2020-11-01,1011.3,25.2,70.0,44.0,3.5,80.0,13.2,70.0,0.05,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,31.85,74982.0,-0.113,-0.057,-0.146,-0.239,2.0,2.0,2.0,2.0,11
122382,Taipei,466920,臺北,2020-11-03,1015.5,21.6,72.0,45.0,3.0,80.0,11.2,70.0,0.50,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,28.25,105303.0,0.009,-0.019,-0.055,0.135,3.0,3.0,2.0,4.0,11
122976,Taipei,466920,臺北,2020-11-04,1016.0,21.8,63.0,42.0,3.5,80.0,13.8,70.0,0.00,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,28.50,102099.0,0.054,-0.046,-0.149,-0.116,4.0,3.0,2.0,2.0,11
123570,Taipei,466920,臺北,2020-11-05,1014.3,22.9,74.0,54.0,3.6,80.0,12.6,60.0,0.00,1,1,1,1,5,0,無,5.3,low_altitude,1.0,Taipei,30.05,92083.0,-0.078,-0.111,0.067,-0.183,2.0,2.0,4.0,2.0,11
124164,Taipei,466920,臺北,2020-11-06,1009.4,27.0,79.0,54.0,4.2,80.0,15.9,130.0,0.50,1,1,1,1,5,0,無,5.3,low_altitude,1.0,Taipei,27.70,119218.0,-0.018,-0.125,-0.090,-0.309,3.0,2.0,2.0,1.0,11
124758,Taipei,466920,臺北,2020-11-07,1010.6,27.5,70.0,43.0,2.9,80.0,16.2,130.0,0.00,1,1,1,1,5,0,無,5.3,low_altitude,1.0,Taipei,27.20,149900.0,-0.018,0.178,-0.097,-0.382,3.0,4.0,2.0,1.0,11
125352,Taipei,466920,臺北,2020-11-08,1016.8,20.9,83.0,71.0,2.9,90.0,11.7,80.0,0.00,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,26.70,152186.0,-0.092,-0.056,-0.283,-0.361,2.0,2.0,1.0,1.0,11
126539,Taipei,466920,臺北,2020-11-10,1018.5,20.5,75.0,62.0,3.1,90.0,13.8,60.0,0.50,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,24.25,185348.0,0.322,0.012,-0.307,-0.330,5.0,3.0,1.0,1.0,11
127133,Taipei,466920,臺北,2020-11-11,1019.5,22.5,63.0,46.0,4.2,80.0,15.1,70.0,0.05,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,32.05,139362.0,-0.214,-0.402,-0.468,-0.543,2.0,1.0,1.0,1.0,11
128321,Taipei,466920,臺北,2020-11-13,1015.7,21.9,96.0,84.0,3.0,80.0,10.7,70.0,11.00,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,25.20,218356.0,-0.026,-0.333,-0.355,-0.474,3.0,1.0,1.0,1.0,11
128915,Taipei,466920,臺北,2020-11-14,1016.8,21.9,83.0,69.0,3.7,80.0,13.2,90.0,4.00,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,24.55,185053.0,-0.220,-0.305,-0.403,-0.479,2.0,1.0,1.0,1.0,11
129509,Taipei,466920,臺北,2020-11-15,1015.5,24.8,71.0,48.0,3.7,80.0,11.5,100.0,0.00,1,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,19.15,242379.0,-0.123,-0.151,-0.308,-0.144,2.0,2.0,1.0,2.0,11
130697,Taipei,466920,臺北,2020-11-17,1011.8,25.8,69.0,49.0,4.1,80.0,11.7,60.0,0.00,0,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,16.80,278293.0,0.015,-0.128,-0.238,0.000,3.0,2.0,2.0,3.0,11
131291,Taipei,466920,臺北,2020-11-18,1009.2,26.7,68.0,39.0,1.1,110.0,7.4,100.0,0.00,0,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,17.05,198852.0,-0.047,-0.223,-0.038,-0.141,3.0,2.0,3.0,2.0,11
131885,Taipei,466920,臺北,2020-11-19,1008.5,26.9,67.0,38.0,1.5,190.0,6.8,70.0,0.00,0,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,16.25,198983.0,-0.098,-0.212,0.034,-0.062,2.0,2.0,3.0,2.0,11
132479,Taipei,466920,臺北,2020-11-20,1010.4,25.4,77.0,48.0,2.4,80.0,11.7,90.0,0.00,0,0,0,0,0,0,無,5.3,low_altitude,1.0,Taipei,14.65,216780.0,-0.096,0.119,0.000,0.130,2.0,4.0,3.0,4.0,11

# 只取6~10月資料

In [1]:
import pandas as pd
df=pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/最後的檔案/LA1_low_altitude_finall_no_nan_hava_label_all.csv',low_memory=False)
df

,locate,StationCode,StationNmae,ObservDay_time,month,StnPres,Temperature,RH,RHMin,WS,...,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Changhua,467270,田中,2020-04-09,4,1011.100000,22.100,77.000000,41.000000,2.10,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
1,Changhua,C0G620,芬園,2020-04-09,4,1003.200000,22.000,75.000000,32.000000,1.40,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
2,Changhua,C0G640,鹿港,2020-04-09,4,1017.300000,21.200,73.000000,54.000000,2.40,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
3,Changhua,C0G650,員林,2020-04-09,4,1012.200000,22.500,79.000000,37.000000,0.80,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
4,Changhua,C0G660,溪湖,2020-04-09,4,1014.800000,22.100,71.000000,41.000000,2.50,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356254,Yilan,C1U670,寒溪,2011-10-30,10,1004.350000,21.825,74.500000,66.500000,1.75,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356255,Yilan,C1U690,新寮,2011-10-30,10,1004.350000,21.825,74.500000,66.500000,1.75,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356256,Yunlin,C0K280,四湖,2011-10-30,10,1002.310135,23.500,72.868998,61.536329,3.20,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356257,Yunlin,C0K291,宜梧,2011-10-30,10,1002.310135,23.500,72.868998,61.536329,3.00,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356258,Yunlin,C0K330,虎尾,2011-10-30,10,1002.310135,23.800,72.868998,61.536329,1.20,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0

In [10]:
ma1=df['month']==4
ma2=df['month']==5
ma3=df['month']==6
ma4=df['month']==7
ma5=df['month']==8
ma6=df['month']==9
ma7=df['month']==10
df1=df[ma1|ma2|ma3|ma4|ma5|ma6|ma7]

In [21]:
df1

,locate,StationCode,StationNmae,ObservDay_time,month,StnPres,Temperature,RH,RHMin,WS,...,MediumAvgPrice,TradingVolume,T+1,T+3,T+5,T+7,T+1_label,T+3_label,T+5_label,T+7_label
0,Changhua,467270,田中,2020-04-09,4,1011.100000,22.100,77.000000,41.000000,2.10,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
1,Changhua,C0G620,芬園,2020-04-09,4,1003.200000,22.000,75.000000,32.000000,1.40,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
2,Changhua,C0G640,鹿港,2020-04-09,4,1017.300000,21.200,73.000000,54.000000,2.40,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
3,Changhua,C0G650,員林,2020-04-09,4,1012.200000,22.500,79.000000,37.000000,0.80,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
4,Changhua,C0G660,溪湖,2020-04-09,4,1014.800000,22.100,71.000000,41.000000,2.50,...,9.5,269804.0,0.021,0.053,0.079,0.168,4.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356254,Yilan,C1U670,寒溪,2011-10-30,10,1004.350000,21.825,74.500000,66.500000,1.75,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356255,Yilan,C1U690,新寮,2011-10-30,10,1004.350000,21.825,74.500000,66.500000,1.75,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356256,Yunlin,C0K280,四湖,2011-10-30,10,1002.310135,23.500,72.868998,61.536329,3.20,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356257,Yunlin,C0K291,宜梧,2011-10-30,10,1002.310135,23.500,72.868998,61.536329,3.00,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0
1356258,Yunlin,C0K330,虎尾,2011-10-30,10,1002.310135,23.800,72.868998,61.536329,1.20,...,13.1,135788.0,0.130,-0.233,-0.454,-0.260,5.0,3.0,2.0,2.0

In [22]:
df1.to_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/最後的檔案/LA1_4to10_month.csv',index=False)

### test

In [14]:
import pandas as pd 
df = pd.read_csv('/Users/lunlun/Desktop/BDSE_18_Project/data/myself_data/最後的檔案/LF2_low_altitude_finall_no_nan_hava_label_all.csv',low_memory=False)

In [27]:
df.columns

Index(['locate', 'StationCode', 'StationNmae', 'ObservDay_time', 'month',
       'StnPres', 'Temperature', 'RH', 'RHMin', 'WS', 'WD', 'WSGust', 'WDGust',
       'Precp', 'ty_generate', 'sea_warning', 'land_warning', 'ty_strength',
       'ty_path', 'festival_count', 'festival', 'altitude',
       'altitude_classification', 'locate_classification', 'Market',
       'MediumAvgPrice', 'TradingVolume', 'T+1', 'T+3', 'T+5', 'T+7',
       'T+1_label', 'T+3_label', 'T+5_label', 'T+7_label'],
      dtype='object')

In [16]:
df4=df

In [25]:
print('label ','  ==1==','==2==','==3==','==4==',' ==5==','  ==6==','  ==7==')
print('T+1_label',len(df4[df4['T+1_label']==1]),len(df4[df4['T+1_label']==2]),len(df4[df4['T+1_label']==3]),len(df4[df4['T+1_label']==4]),len(df4[df4['T+1_label']==5]),len(df4[df4['T+1_label']==6]),len(df4[df4['T+1_label']==7]))
print('T+3_label',len(df4[df4['T+3_label']==1]),len(df4[df4['T+3_label']==2]),len(df4[df4['T+3_label']==3]),len(df4[df4['T+3_label']==4]),len(df4[df4['T+3_label']==5]),len(df4[df4['T+3_label']==6]),len(df4[df4['T+3_label']==7]))
print('T+5_label',len(df4[df4['T+5_label']==1]),len(df4[df4['T+5_label']==2]),len(df4[df4['T+5_label']==3]),len(df4[df4['T+5_label']==4]),len(df4[df4['T+5_label']==5]),len(df4[df4['T+5_label']==6]),len(df4[df4['T+5_label']==7]))
print('T+7_label',len(df4[df4['T+7_label']==1]),len(df4[df4['T+7_label']==2]),len(df4[df4['T+7_label']==3]),len(df4[df4['T+7_label']==4]),len(df4[df4['T+7_label']==5]),len(df4[df4['T+7_label']==6]),len(df4[df4['T+7_label']==7]))

label    ==1== ==2== ==3== ==4==  ==5==   ==6==   ==7==
T+1_label 1991 37233 224615 797235 227246 57044 11400
T+3_label 19735 177276 247368 413878 238854 168601 91052
T+5_label 50833 230759 222719 306699 175135 196867 173752
T+7_label 79874 248651 203598 262622 160924 173510 227585

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1356259 entries, 0 to 1356258
Data columns (total 35 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   locate                   1356259 non-null  object
 1   StationCode              1356259 non-null  object
 2   StationNmae              1356259 non-null  object
 3   ObservDay_time           1356259 non-null  object
 4   month                    1356259 non-null  int64
 5   StnPres                  1356259 non-null  float64
 6   Temperature              1356259 non-null  float64
 7   RH                       1356259 non-null  float64
 8   RHMin                    1356259 non-null  float64
 9   WS                       1356259 non-null  float64
 10  WD                       1356259 non-null  float64
 11  WSGust                   1356259 non-null  float64
 12  WDGust                   1356259 non-null  float64
 13  Precp                    1356259 non-null  float64
 14  ty_generate              1356259 non-null  int64
 15  sea_warning              1356259 non-null  int64
 16  land_warning             1356259 non-null  int64
 17  ty_strength              1356259 non-null  int64
 18  ty_path                  1356259 non-null  int64
 19  festival_count           1356259 non-null  int64
 20  festival                 1356259 non-null  object
 21  altitude                 1356259 non-null  float64
 22  altitude_classification  1356259 non-null  object
 23  locate_classification    1356259 non-null  float64
 24  Market                   1356259 non-null  object
 25  MediumAvgPrice           1356259 non-null  float64
 26  TradingVolume            1356259 non-null  float64
 27  T+1                      1356259 non-null  float64
 28  T+3                      1356259 non-null  float64
 29  T+5                      1356259 non-null  float64
 30  T+7                      1356259 non-null  float64
 31  T+1_label                1356259 non-null  float64
 32  T+3_label                1356259 non-null  float64
 33  T+5_label                1356259 non-null  float64
 34  T+7_label                1356259 non-null  float64
dtypes: float64(21), int64(7), object(7)
memory usage: 362.2+ MB

In [6]:
df1=df.iloc[:,:18]

In [7]:
df1

,locate,StationCode,StationNmae,ObservDay_time,month,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength
0,Changhua,467270,田中,2020-04-09,4,1011.100000,22.100,77.000000,41.000000,2.10,330.000,9.4000,340.000000,0.0,0,0,0,0
1,Changhua,C0G620,芬園,2020-04-09,4,1003.200000,22.000,75.000000,32.000000,1.40,7.000,8.8000,341.000000,0.0,0,0,0,0
2,Changhua,C0G640,鹿港,2020-04-09,4,1017.300000,21.200,73.000000,54.000000,2.40,8.000,9.8000,7.000000,0.0,0,0,0,0
3,Changhua,C0G650,員林,2020-04-09,4,1012.200000,22.500,79.000000,37.000000,0.80,332.000,7.2000,351.000000,0.0,0,0,0,0
4,Changhua,C0G660,溪湖,2020-04-09,4,1014.800000,22.100,71.000000,41.000000,2.50,4.000,9.5000,332.000000,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356254,Yilan,C1U670,寒溪,2011-10-30,10,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,6.0,0,0,0,0
1356255,Yilan,C1U690,新寮,2011-10-30,10,1004.350000,21.825,74.500000,66.500000,1.75,169.625,8.3500,115.375000,13.0,0,0,0,0
1356256,Yunlin,C0K280,四湖,2011-10-30,10,1002.310135,23.500,72.868998,61.536329,3.20,20.000,10.2666,132.082749,0.0,0,0,0,0
1356257,Yunlin,C0K291,宜梧,2011-10-30,10,1002.310135,23.500,72.868998,61.536329,3.00,10.000,10.2666,132.082749,0.0,0,0,0,0
1356258,Yunlin,C0K330,虎尾,2011-10-30,10,1002.310135,23.800,72.868998,61.536329,1.20,330.000,10.2666,132.082749,0.0,0,0,0,0

In [9]:
df1['ObservDay_time']=pd.to_datetime(df1['ObservDay_time'])

In [10]:
def sumcase(s_t):
    flagdate = s_t[s_t['ty_generate']==1]['ObservDay_time']
    ind=[  for dd in flagdate]
#     return flagdate

In [11]:
new=df1.groupby('locate').apply(sumcase)

In [12]:
new

locate
Changhua  11795     2020-05-12
          11796     2020-05-12
          11797     2020-05-12
          11798     2020-05-12
          11799     2020-05-12
                       ...
Yunlin    1353894   2011-10-11
          1353895   2011-10-11
          1354032   2011-10-12
          1354033   2011-10-12
          1354034   2011-10-12
Name: ObservDay_time, Length: 444298, dtype: datetime64[ns]

In [13]:
ma=df1['ObservDay_time']=='2020-05-12'
df1[ma]

,locate,StationCode,StationNmae,ObservDay_time,month,StnPres,Temperature,RH,RHMin,WS,WD,WSGust,WDGust,Precp,ty_generate,sea_warning,land_warning,ty_strength
11795,Changhua,467270,田中,2020-05-12,5,1005.500000,26.100000,89.000000,76.000000,1.900000,320.000000,8.300000,330.000000,0.5,1,0,0,0
11796,Changhua,C0G620,芬園,2020-05-12,5,997.700000,26.400000,87.000000,66.000000,1.200000,331.000000,6.300000,320.000000,0.0,1,0,0,0
11797,Changhua,C0G640,鹿港,2020-05-12,5,1011.200000,25.600000,86.000000,77.000000,1.900000,1.000000,8.300000,360.000000,0.0,1,0,0,0
11798,Changhua,C0G650,員林,2020-05-12,5,1006.300000,27.200000,88.000000,69.000000,0.700000,322.000000,6.300000,314.000000,0.0,1,0,0,0
11799,Changhua,C0G660,溪湖,2020-05-12,5,1010.300000,27.200000,83.000000,71.000000,2.200000,344.000000,9.800000,329.000000,0.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12213,Yunlin,C0K530,臺西,2020-05-12,5,1009.400000,25.700000,86.000000,78.000000,2.800000,32.000000,9.400000,15.000000,0.0,1,0,0,0
12214,Yunlin,C0K550,蔦松,2020-05-12,5,1009.200000,25.900000,85.000000,73.000000,1.600000,333.000000,7.700000,340.000000,0.0,1,0,0,0
12215,Yunlin,C0K560,棋山,2020-05-12,5,998.000000,25.600000,88.000000,74.000000,0.700000,5.000000,4.900000,345.000000,8.0,1,0,0,0
12216,Yunlin,C0K580,高鐵雲林,2020-05-12,5,1009.000000,26.100000,98.000000,90.000000,1.500000,319.000000,8.400000,356.000000,0.0,1,0,0,0
12217,Yunlin,C1K540,口湖,2020-05-12,5,1006.272727,25.695238,88.571429,78.863636,1.804545,185.409091,8.118182,265.590909,0.0,1,0,0,0